[2020-01-13 18:26] rdisipio opened #28 "TensorFlow equivalent of tutorial_quantum_transfer_learning.py"
#### Issue description

I'm trying to create a TensorFlow-based equivalent of `tutorial_quantum_transfer_learning.py` but I get an error related to the conversion of Pennylane objects to Tensors.

* *Expected behavior:* Pass values correctly?

* *Actual behavior:* Returns the following error:
ValueError: Attempt to convert a value (<error computing repr()>) with an unsupported type (<class 'pennyl

[2020-01-13 18:30] josh146 commented on #28
Hi @rdisipio! Thanks for logging this bug. Have you had a look at our [PennyLane TensorFlow quickstart guide](https://pennylane.readthedocs.io/en/stable/introduction/interfaces/tf.html)?

It would also be great if you could add a minimal non-working code example that leads to the above traceback (this might be something as simple as the defined QNode and how it is called).

[2020-01-13 18:46] rdisipio commented on #28
Hi,

  thanks for the quick reply. The main script is here:

https://github.com/rdisipio/qnlp/blob/master/train.py

in turns, this create a model defined in:

https://github.com/rdisipio/qnlp/blob/master/models.py

The model is mostly a TF re-implementation of the PyTorch class in the example. As I said, I'm having a hard time to figure out where the offending line is as the traceback never refere

[2020-01-13 19:13] rdisipio commented on #28
I think I'm getting closer to where the issue arises. These lines seem to reproduce the error:

[code]
where `q_in` is a numpy array like this: `[ 0.08495745 -0.20793235  0.03586568 -0.016984  ]`

[2020-01-13 19:37] rdisipio commented on #28
getting there...so the solution was to convert the `QNode` object to a tensor before putting it into the list but also expanding its dimensions, and then concatenate the elements:

[code]

But not I get another error:
[code]

In the examples, a `tf.GradientTape()` context is created to define the loss and gradient. Is there a known way to make it work with the Keras `fit` API? Or do I have to defi

[2020-01-13 20:47] josh146 commented on #28
This is something we'll definitely look into! Unfortunately, TensorFlow makes this quite hard to catch, as their custom gradient decorator wraps and replaces the QNode, leading to the very tensorflow heavy tracebacks.

---

In our current development version of PennyLane (`v0.8-dev`) we have refactored the QNodes in such a way that it may solve the issue you are having --- could I get you to try t

[2020-01-13 20:56] trbromley commented on #28
Hi @rdisipio - I've had a go at making a similar Keras quantum layer before and I think you're on the right track. It took me a bit of playing to get things to work, some things I can quickly spot from your code are:

- Suggest passing `dynamic=True` to the base class `__init__` https://github.com/rdisipio/qnlp/blob/39a2a9e5f44441ed9de76642328b893a16ff3a3a/models.py#L67
- I had some trouble with q

[2020-01-13 21:03] rdisipio commented on #28
Hi @trbromley ,

  thanks for the suggestions. I'm passing the `dynamic` flag before `kwargs`. Also, forcing tensor to be `tf.float64` did not change much. Yeah, it seems to require lots of fiddling to make it work, but it's worth doing so IMO as some pre-trained models are available only for TF.

[2020-01-13 21:04] rdisipio commented on #28
Hi @josh146 ,

  thanks for taking care of this. I adapted the line you pointed out to comply with the new API. But now I get:

[code]

[2020-01-13 21:10] josh146 commented on #28
Ah, this is occurring because the first argument of `QNode` must be the quantum circuit function itself, un-evaluated:
[code]

I also have a feeling this will fail as `variational_quantum_circuit` is a method, not a function, and the QNode was designed to only be used with functions :thinking:

[2020-01-13 21:13] rdisipio commented on #28
Uhm. But then, how do I pass arguments to the function?

[2020-01-13 21:51] trbromley commented on #28
Not sure if this helps @rdisipio, I had the following in my `__init__`:

[code]

You can then treat `self.layer` as the function you use later on in the `call` method.

[2020-01-14 14:13] rdisipio commented on #28
Hi,

  thanks for the suggestion. I'm still quite confused. In a derived class from Keras.layers.Layer, the parameters are defined in the build() function, and the inputs in the call() function. So how do I pass these parameters to `circuit(inputs, parameters)` in `__init__`?

Also, the error I'm still getting seems to be related to the model's kernel, which I define in `build()` as this:

[code]

[2020-01-15 22:05] rdisipio commented on #28
I made some progress. I can get rid of the error concerning missing gradient for kernel variables by defining custom weights rather than calling a Dense layer from `call()`.  However, I still get some troubles apparently due to the `dynamic=True` flag. My understanding is that this is needed to manipulate information that does not result in a static graph, such as in RNNs (not sure why that's the

[2020-01-15 22:36] trbromley commented on #28
Hi @rdisipio, let me share with you an example that I got to work:

[code]

Note that this layer applies the quantum circuit alone - there is no dressing with classical layers so you have to be careful about the input dimension.

[2020-01-16 15:47] rdisipio commented on #28
Hi @trbromley ,

  thanks for sharing the code. Finally, I can make my code work by following your example, with the main difference that I have to calculate the documents' embeddings outside the network as pass them as input to the network instead of strings. I assume that's a quirk of TensorFlow and has not much to do with PennyLane (to be checked later).

Also, I wonder if the quantum layer you

[2020-01-17 14:06] josh146 commented on #28
Closing this for now as the code is now working :)

@rdisipio, if you can write your ML example as a single python script, feel free to make a PR here to add it to the list of demos on https://pennylane.ai/qml!

[2020-01-17 14:06] #28 closed

[2020-02-07 23:47] josh146 opened #35 "State preparation tutorial is too slow with the latest pyQuil 2.17"
With pyQuil 2.10 and below, the state preparation tutorial (using the pyQVM) takes ~ 1.5 minutes to execute. However, with pyQuil 2.11+, this same tutorial now takes hours to finish executing.

At the same time, the latest version of PennyLane-Forest requires PyQuil 2.16 and above for QPU compatability. As a result, the tutorial should be modified to use the QVM, or another simulator.

[2020-02-07 23:50] josh146 opened #36 "QAOA Maxcut currently failing on the latest version of PennyLane and autograd"
The QAOA maxcut tutorial is currently failing with the following traceback:

[code]

The issue seems to be passing the parameter `gamma`. At line 246,
[code]
it can be seen that `gamma = Autograd ArrayBox with value [0.00617866 0.00415137]`. However, within the QNode at line 202,
[code]
we have `gamma = [0.006178660018330691]` - the second element is 'missing'.

[2020-02-10 23:06] antalszava commented on #36
The problem seems to be related to the fact that there is only one `QNode` that is being created throughout the entire execution of the script.

When calling `_construct` with two parameters for gamma, the same `self.arg_vars` will be used as created for only one parameter (as it is `not None`), yielding the error.

A quick way to check this would be commenting out lines ``bitstrings1 = qaoa_maxcu

[2020-02-10 23:19] antalszava commented on #36
With one `QNode` the logic should be altered here such that there is a more in-depth check comparing the current `self.arg_vars` and the new `Variables`: https://github.com/XanaduAI/pennylane/blob/719e27c7d046e7d488b8c68685fe803f4f5afa9f/pennylane/qnodes/base.py#L500

[2020-02-11 03:11] josh146 commented on #36
Thanks @antalszava! Was this bug introduced with the circuit drawer then? We should add a test to PL to test this specific edge case, and make sure it is fixed.

[2020-02-13 19:33] #35 closed

[2020-02-18 15:28] antalszava commented on #36
With https://github.com/XanaduAI/pennylane/pull/505 merged, I'll close this for now.

[2020-02-18 15:28] #36 closed

[2020-02-23 17:51] co9olguy opened #53 "Updating reference format in existing pages"
Currently we have a mixture of links to web media (e.g., wikipedia pages) and academic style citations (which appear in the docs as, e.g.,  `[R4]`). The academic citatation style does not fit well because:
- on any given page, only a subset of references are made, so the ordering can be disconcerting
- the actual style of the referencing does not fit well into the style of the rest of the text (e.

[2020-02-24 05:52] josh146 commented on #53
It looks like sphinx-bibtex supports custom formatting: https://sphinxcontrib-bibtex.readthedocs.io/en/latest/usage.html#custom-formatting-sorting-and-labelling

However, there is no built-in way to do this --- instead, a [custom pybtex plugin](https://docs.pybtex.org/api/plugins.html#pybtex-style-labels) has to be written.

Options include:

* Write a custom pybtex formatting/label style (cons: m

[2020-02-24 06:38] mariaschuld opened #54 "Update key concepts content pages"
**Context:** The Key Concepts section has been turned into a glossary, but the content is somewhat out of date.

For example:

- *Automatic differentiation page*: Delete or improve the delineation to symbolic or numeric differentiation
- *Circuit ansatz*: Differentiate clearly between "template", "ansatz" and "architecture"

[To be continued...]

**Solution:** We should update and extend the pages

[2020-02-24 19:28] co9olguy commented on #53
I vote for option 3 as well

[2020-02-27 06:22] mariaschuld commented on #53
Voting for 3 too. I will implement it in the REDESIGN PR.

[2020-02-27 06:38] mariaschuld commented on #53
Suggestion of the following convention:

* We always cite arxiv papers, unless there is none (open source, more timely, easier to maintain)
* 3 or less authors are named as "Surname1, Surname2, Surname3 (YEAR)", more authors are named as "Surname1 et al. (YEAR)"
* The year is the year of the first arxiv identifier (if applicable)
* Hyperlinks are used like this: `Surname1 et al. (YEAR) <https://ar

[2020-02-27 07:48] josh146 commented on #53
I agree with all of the above @mariaschuld! In addition, I also quite like pages with bibliographies at the bottom, like https://pennylane.ai/qml/app/tutorial_data_reuploading_classifier.html#references. This could be an optional (but encouraged) section at the bottom of tutorials.

[2020-03-07 16:58] co9olguy opened #60 "Provide a download link for parity.txt data in the variational classifier tutorial"
See https://github.com/XanaduAI/pennylane/issues/536 for context.

When a script requires a a file to be loaded (e.g., loading data), we should make it clear to the user where to acquire this file, where to put it locally, and how to modify the script to find this file.

Currently, the variational classifier does not do a good job of this (causing execution to fail for downloaded scripts). On the

[2020-04-10 10:24] josh146 opened #68 "Multiclass margin classifier demo has a very long execution time"
The [Multiclass margin classifier](https://pennylane.ai/qml/demos/tutorial_multiclass_classification.html) currently takes 18 minutes to execute, which is significantly too long (in the readme, we recommend no longer than 10 minutes at most).

If there is no performance optimization we can make to the code, I recommend we convert it into a non-executable tutorial, similarly to the [QNN function fi

[2020-04-17 08:15] charujing opened #69 "Error in tutorial_quanvolution.py"
Hi,
When I try "python tutorial_quanvolution.py ", it echos this problem. Could anyone can help me?
Thanks.
2020-04-17 15:35:02.466789: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'libnvinfer.so.6'; dlerror: libnvinfer.so.6: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /public/software/gnu/gcc/v7.2.0/lib64:/public/so

[2020-04-17 10:16] josh146 commented on #69
Hi @charujing! You will need to create the directory to store the output trained data. In this case, it looks like the directory should be called `quanvolution/`. Creating this directory before executing the script will allow it to work:

[code]

[2020-04-21 03:13] #69 closed

[2020-04-25 05:22] charujing opened #70 "CNN for 3D"
Hi,
     The tutorial_quanvolution.py is very useful for the quantum CNN in 2D data, such as images. Does anyone know materials or tutorials that could be used for the 3D quantum CNN?
    Thanks very much.
    All the best.
Rujing

[2020-04-27 19:34] co9olguy commented on #70
Hi @charujing, and thanks for the question.

My first thought was that the best person to answer this would be the inventor of the quanvolutional neural network. Let's see if we can summon him with a mention here (his GitHub handle seems to be @Spider2themax)

[2020-04-28 01:48] Spider2themax commented on #70
Hey @charujing ! I can definitely answer this (thanks for the ping @co9olguy 👍 )

So you can absolutely use QNN implements for 3D tensor image input as well; really you just have to ensure that the encoding protocol is designed to handle that. In a recent paper we published (https://arxiv.org/abs/2004.03079), we processed 3D images by taking N-by-N-by-M tensor blocks, and mapping the values to sin

[2020-04-28 06:41] charujing commented on #70
Hi @co9olguy  and @Spider2themax
     Thanks very much for your reply and help. Great! I will try.
     All the best.

[2020-04-28 06:42] #70 closed

[2020-04-28 15:51] co9olguy commented on #70
Thanks @Spider2themax!

[2020-05-13 04:04] josh146 opened #82 "Quantum transfer learning tutorial has incorrect optimizer step order"
Running the quantum transfer learning tutorial with a version of PyTorch newer than 1.1.0 provides the following warning:

[code]

This should be fixed, to avoid this breaking in newer PyTorch versions.

[2020-05-13 04:13] josh146 commented on #53
Since this issue was opened, we've coalesced onto the following per-page referencing strategy over in Strawberry Fields, using built-in ReST roles:

[code]

The nice thing about use ReST footnotes is that

1. It is easy to find and reference required citations in the raw text file, and

2. Sphinx will automatically create in-page links between the citation and the References section at the bottom

[2020-05-13 05:19] josh146 opened #83 "Add a banner on the home page, with 'Start here' links"
With no organization on the 'Demos' page, it is difficult for new users to identify exactly where they should start. There are a couple of potential solutions.

* Add a banner on the home page, with 'Start here' links. Something similar to the following?

  ![image](https://user-images.githubusercontent.com/2959003/81773990-bbc98c80-9528-11ea-926b-41a1289c2e02.png)

* Start organizing the demos?

[2020-05-13 06:23] josh146 opened #84 "Provide tutorial requirement information"
The [demonstrations page](https://pennylane.ai/qml/demonstrations.html) should have a section at the bottom, providing the Python environment details used to build the tutorials.

For example, something like the following:

[code]

We could either include directly the text within `requirements.txt` (will probably look ugly), or just link to the file on GitHub.

[2020-05-14 17:35] co9olguy commented on #53
What does the `1(1,2,3)` mean?

[2020-05-15 04:46] josh146 commented on #53
Easier to describe by linking to a live example:
https://710-214003948-gh.circle-artifacts.com/0/_build/html/demos/tutorial_rosalin.html#references

[2020-05-15 14:53] josh146 opened #86 "Provide a download link for sine.txt in the function fitting tutorial"
The quantum function fitting tutorial is not executed by Sphinx-Gallery, as it takes too long to execute. Unfortunately, this caused an issue with loaded data to be overlooked; the referenced file [`data/sine.txt`](https://raw.githubusercontent.com/XanaduAI/pennylane/v0.3.0/examples/data/sine.txt) not only has no download links, but as far as I can tell, isn't even present in the repository.

A cl

[2020-05-16 15:59] #60 closed

[2020-05-16 16:03] #86 closed

[2020-05-22 01:14] #82 closed

[2020-10-27 18:04] glassnotes opened #151 "Update README to reflect updated QML page"
The current instructions for adding a contributed demo include:

![image](https://user-images.githubusercontent.com/2068515/97342662-e3a17800-185c-11eb-88a3-f422a3077459.png)

Following the re-design, `demonstrations.rst` is no longer the correct place to put this information, and instead it goes in `demos_basic.rst` (or `research`, or `community`). Instructions should be updated to reflect this,

[2020-10-31 09:03] gahanh opened #152 "[DEMO] Iris Classification using Angle Embedding and qml.qnn.KerasLayer"
### General information

**Name**
Hemant Gahankari

**Affiliation** (optional)
None

### Demo information

**Title**
Iris Classification using Angle Embedding and qml.qnn.KerasLayer

**Abstract**
This example is created to expalin how to pass classical data into the quantum function and convert it to quantum data. Later it shows how to create qml.qnn.KerasLayer from qnode and train it and also che

[2020-10-31 09:27] gahanh opened #153 "[DEMO] Iris Classification using Amplitude Embedding and qml.qnn.KerasLayer"
### General information

**Name**
Hemant Gahankari

**Affiliation** (optional)
None

### Demo information

**Title**
Iris Classification using Amplitude Embedding and qml.qnn.KerasLayer

**Abstract**
This example is created to explain how to pass classical data into the quantum function and convert it to quantum data. Later it shows how to create qml.qnn.KerasLayer from qnode and train it and also

[2020-11-01 14:46] josh146 commented on #153
Hi @gahanh! Thanks for your contribution to the QML repository 🙂

Just double checking, but this submission appears to be the same as #152. If that is the case, let's close this one and continue the conversation in #152. Otherwise, please edit the top comment to indicate how this submission differs.

Also, it appears that the Colab link provided is private - you may need to double check the sharin

[2020-11-01 15:01] gahanh commented on #153
Hi ,

Both are different,

One uses AngleEmbedding and other uses Amplitude Embedding.

Regards
Hemant

On Sun, 1 Nov 2020 at 8:16 PM, Josh Izaac <notifications@github.com> wrote:

--
Hemant G

[2020-11-01 15:08] gahanh commented on #153
I am sharing the links as below ,

https://colab.research.google.com/drive/12ls_GkSD2t0hr3Mx9-qzVvSWxR3-N0WI?usp=sharing

https://colab.research.google.com/drive/13PvS2D8mxBvlNw6_5EapUU2ePKdf_K53?usp=sharing

Please let me know if these are visible.

Regards
Hemant

On Sun, Nov 1, 2020 at 8:31 PM Hemant Gahankari <hemant.gahankari@gmail.com>
wrote:

--
Hemant G

[2020-11-02 12:48] trbromley commented on #153
Thanks @gahanh! I was able to take a quick look at both demos, looks good.

I noticed that the `AmplitudeEmbedding` demo prints a lot of warnings during fitting because the first dense layer preceding the quantum layer does not have accessible gradients. This is because we cannot differentiate the quantum layer with respect to its inputs.

Potential ways to approach this could be:
- Set `inputs` t

[2020-11-02 15:02] gahanh commented on #153
Thanks for the review and feedback. I have put in the last fix as
suggested. But would try the other options later.

Regards
Hemant

On Mon, Nov 2, 2020 at 6:18 PM Tom Bromley <notifications@github.com> wrote:

--
Hemant G

[2020-11-02 15:35] antalszava commented on #153
Hi @gahanh,

Thank you and thanks again for posting the demos! After some slight basic checks, we'll go for incorporating them as community demos! :confetti_ball:

[2020-11-02 15:44] gahanh commented on #153
Thank you all for your guidance and inputs. I shall be submitting one more
demo that I have done with Single QBit and for Linear Regression in a day
or so.

Regards
Hemant

On Mon, Nov 2, 2020 at 9:06 PM antalszava <notifications@github.com> wrote:

--
Hemant G

[2020-11-03 15:13] gahanh opened #155 "[DEMO] Linear Regression using Angle Embedding and Single Qubit"
#### General information

**Name**
Hemant Gahankari

**Affiliation** (optional)
None
--------------------------------------------------------------------------------

#### Demo information

**Title**
Linear Regression using Angle Embedding and Single Qubit with qml.qnn.KerasLayer

**Abstract**
This example is created to explain how to create a Hybrid Neural Network (Mix of Classical and Quantum La

[2020-11-03 16:38] gahanh opened #156 "[DEMO] Iris Classification using Qnode, Keras Optimizer and Loss function."
#### General information

**Name**
Hemant Gahankari

**Affiliation** (optional)
None
--------------------------------------------------------------------------------

#### Demo information

**Title**
Iris Classification using Qnode and Keras Optimizer and Loss function.

**Abstract**
This example is created to explain how to create a quantum function and train a quantum function using keras optimi

[2020-11-11 01:29] #151 closed

[2020-11-12 14:47] antalszava commented on #153
Hi @gahanh, great news! The 4 demonstrations that you have submitted are live now on our [community demos page](https://pennylane.ai/qml/demos_community.html)! :confetti_ball: :1st_place_medal:

We've applied a couple of adjustments to the title & abstract shown on the demos page (only there):
- Slightly reordered parts of titles/sentences in the abstract to highlight the main description (e.g.,
t

[2020-11-12 15:23] gahanh commented on #153
This is indeed great news for me and I feel very happy that I could
contribute a qbit ! I truly appreciate all your help. I will look for more
opportunities to create small examples to bring out basic concepts in the
future as well.

Thanks once again.

BTW I noticed that in "Using Keras Optimizer for Iris Classification ...."
, in the confusion matrix none of the samples are classified as 1, thes

[2020-11-12 15:40] antalszava commented on #152
The demo was added to the [community demos page](https://pennylane.ai/qml/demos_community.html).

[2020-11-12 15:40] #152 closed

[2020-11-12 15:40] antalszava commented on #155
The demo was added to the [community demos page](https://pennylane.ai/qml/demos_community.html).

[2020-11-12 15:40] #155 closed

[2020-11-12 15:40] antalszava commented on #156
The demo was added to the [community demos page](https://pennylane.ai/qml/demos_community.html).

[2020-11-12 15:40] #156 closed

[2020-11-12 18:39] glassnotes commented on #83
Is this still something we want? I can add it to the [demos entry page](https://pennylane.ai/qml/demonstrations.html) directly above (or below) the "basic", "research", and "community" cards.

[2020-11-13 12:21] josh146 commented on #83
Good question. This issue was made before we (re)categorized the demos page into separate 'basics' and 'research' pages.

The example in the top comment is taken from https://strawberryfields.ai/photonics/. Should we do something similar here still?

[2020-11-13 12:32] glassnotes commented on #83
I think it would be nice to have somewhere near the top of the main demo page to get peoples attention, but I also wouldn't want it to be too obtrusive since there are is the community banner and featured demo carousel. Maybe it would be good as a dropdown sphinx element?

[2020-11-17 18:18] glassnotes opened #161 "Improve user navigation through demos"
Following the site re-design, it is now straightforward for a user landing on the main page (or main demo page) to find the entry point to the basic demos. However, there is not much guidance on where to go next.

It would be nice to have a mechanism for navigating a user through various sequences of related tutorials. The 'related demos' in the side bar is a starting point for this, but we can al

[2020-11-17 18:19] glassnotes commented on #83
We've decided to close this as per discussion in #159  as it is no longer relevant after redesign.

[2020-11-17 18:19] #83 closed

[2020-11-18 00:43] co9olguy commented on #161
Yep, this would be amazing. :+1:

How come you think it would be hard to organize and implement?

[2020-11-18 01:42] glassnotes commented on #161
The tree itself is easy to construct, the challenge would be updating everything when new demos are added.

Using the drawing as an example, suppose we add a demo between A and B - this would be part of both the red route and the blue route. If we were to just  hardcode the sidebars the way the 'related demos' currently are, we'd have to manually update *all* of the demos to incorporate the new on

[2020-11-18 17:14] co9olguy commented on #161
Rather than having all information about different routes hard-coded into the demos themselves (either by hand or using sphinx), would it make more sense to have a standalone page with all of the "mini-courses", and when you click on one, it renders its own page with its own navbar, and each page is viewed in a subframe?

[2020-11-23 22:25] dymat opened #165 "[DEMO] Trainable Quantum Convolution"
#### General information

**Names**
Denny Mattern (denny.mattern@fokus.fraunhofer.de)
Darya Martyniuk (darya.martyniuk@fokus.fraunhofer.de)
Fabian Bergmann (fabian.bergmann@fokus.fraunhofer.de)
Henri Willems (henri.willems@fokus.fraunhofer.de)

**Affiliation**
Data Analytics Center at Fraunhofer Institute for Open Communication Systems (Fraunhofer FOKUS) [1]. This demo results from our research as

[2020-11-23 23:04] co9olguy commented on #165
Awesome, thanks for sharing @dymat. We'll take a look at this as soon as we can and create a card for your project on the website :muscle:

[2020-11-25 23:44] glassnotes opened #169 "Investigate dependency mismatch of antlr4-python3-runtime"
A [user in the forum](https://discuss.pennylane.ai/t/full-pennylane-installation/671/16) has come across what appears to be a conflict in the dependencies for the demos.  Specifically, some demos require `antlr4-python3-runtime==4.8`, whereas others (e.g., `tutorial_vqe_parallel`) require `v4.7.2`. The user has tried running in an environment built straight from the `requirements.txt` file and has

[2020-11-26 04:28] hpssjellis commented on #169
For my setup, (which is different than the pennylaneAI setup), after I change  ANTLR from 4.8 to 4.7.2 the following demos do not work:

[code]

[2020-11-26 13:37] #153 closed

[2020-11-26 13:38] josh146 commented on #165
Hi @dymat, thanks for contributing this demo! I had a look through the attached GitHub repo, the demo looks great and will make a nice addition to the PennyLane community demo page. I've begun the process of adding it to the community page in #170.

[2020-11-27 05:43] josh146 commented on #169
Hi @hpssjellis, what error message do you get when you try to run the above demos?

[2020-11-27 05:56] #165 closed

[2020-11-27 14:42] co9olguy opened #171 "Add Intro to QML videos"
Add the vids from this playlist: https://www.youtube.com/playlist?list=PL_hJxz_HrXxsQNJHWp10up8x-hwd5uwr0

[2020-11-27 17:57] hpssjellis commented on #169
The full conversation is on PennyLaneAI forum at [https://discuss.pennylane.ai/t/full-pennylane-installation/671/23](https://discuss.pennylane.ai/t/full-pennylane-installation/671/23)  . I will tag you there

It seems that ```tutorial_doubly_stochastic.py``` does work, It takes a while to load, perhaps I got impatient.

Here are my error logs for the other ones

[code]

[2020-11-28 06:00] josh146 commented on #169
Hi @hpssjellis --- unfortunately, I do not think it will be possible to run all demos that make use of Strawberry Fields devices in the same environment with demos that use PyQuil devices. The reason being is that Strawberry Fields and PyQuil cannot be installed in the same Python environment, as they require different versions of ANTLR.

Could you provision separate environments for the tutorials

[2020-11-29 16:09] hpssjellis commented on #169
So I ran these commands:

[code]

And now my error messages look like it is just a connection error to the virtual machine, which might be my gitpod is not setup correct or I am trying to connect to virtual machines that I don't have access to. Not really sure. Here is my error output for each of the 3 problem demos. Note: These links are to the original qml demonstrations for reference.

[pytorch

[2020-11-30 08:05] josh146 commented on #169
Hi @hpssjellis --- this is because the Rigetti QVM is not currently running on your gitpod installation. You will need to install the QVM and run the QVM server while the demo is being executed. Installation and server instructions are available here: https://github.com/rigetti/qvm

[2020-11-30 17:45] hpssjellis commented on #161
As a new user I am finding it very difficult to just find examples that use Tensorflow, or just Strawberry Fields, or other examples that are just to do with chemistry etc. Some kind of easy to understand categories would be helpful.

[2020-11-30 17:55] josh146 commented on #161
That's useful feedback, thanks @hpssjellis!

Have you used the filters on the right hand side of the page?

![image](https://user-images.githubusercontent.com/2959003/100645848-3b5d6280-3378-11eb-8dcb-278f1cfaef8e.png)

Unfortunately, they currently vanish on narrow browser windows, so perhaps we should move them to a more prominent location.

[2020-11-30 19:27] hpssjellis commented on #169
That explains the issue good enough for me. The setup for the Rigetti server looks a bit out of my league and possibly not able to be done using Gitpod, so, for me I am fine with this issue being closed.  If anyone wants to take a stab at making example code for loading the Rigett server I would be mildly interested.

Thanks for looking into this @josh146

[2020-11-30 19:44] hpssjellis commented on #161
I missed those on a full window, since we are so used to sidebar Ads I didn't even see them. Yes on my cell phone, even with desktop view they did not show.  I was thinking of something more like this page I have that shows every demo, but perhaps split up into sensible sections.  [list format](https://github.com/hpssjellis/my-examples-for-quantum-computing/tree/main/pennylaneai/qml-demos#pennylan

[2020-11-30 22:26] co9olguy commented on #161
Thanks @hpssjellis! All feedback is valuable and we will take it to heart. We're always trying to find ways to give users the best experience :slightly_smiling_face:

[2020-11-30 23:00] hpssjellis opened #173 "[BUG] Does Tensorflow save models that have Quantum Layers?"
#### Issue description

with ```import os``` a fully trained keras layers model will save in .pb tensorflow format with the command
```model.save('KerasModel') ```
putting into the folder ```KerasModel``` a ```saved_model.pb``` file and also the folders ```variables``` and ```assets```. with related binary files.

Example Github code [here](https://github.com/hpssjellis/my-examples-for-quantum-com

[2020-12-01 02:14] hpssjellis commented on #173
Note: This stackoverflow has some information

[https://stackoverflow.com/questions/60682091/cannot-save-tensorrflow-keras-quantum-model-using-save-pickle](https://stackoverflow.com/questions/60682091/cannot-save-tensorrflow-keras-quantum-model-using-save-pickle)

Present workaround is to use save weights
[code]

[2020-12-01 02:18] hpssjellis commented on #173
And this link [https://stackoverflow.com/questions/58678836/notimplementederror-layers-with-arguments-in-init-must-override-get-conf](https://stackoverflow.com/questions/58678836/notimplementederror-layers-with-arguments-in-init-must-override-get-conf) says that it is a feature that identifies a custom class, which makes sense.

It says you should override the get_config class to match your encode

[2020-12-01 02:47] hpssjellis commented on #173
I put a related link on the forum  [https://discuss.pennylane.ai/t/who-made-the-qml-tensorflow-demos/706](https://discuss.pennylane.ai/t/who-made-the-qml-tensorflow-demos/706)

[2020-12-01 05:58] #169 closed

[2020-12-01 06:21] josh146 commented on #161
Thanks @hpssjellis!

[2020-12-01 06:26] josh146 commented on #173
Hi @hpssjellis! This is a known limitation of the `qml.qnn.KerasLayer` class—we currently do not support saving TensorFlow/Keras models.

However, this is something we are working on to support. If I recall, the issue comes from the processing that TensorFlow performs when generating the saved model; it is unable to properly serialize the quantum part of the model.

If you don't mind, I might clos

[2020-12-01 06:26] #173 closed

[2020-12-17 02:05] roberth2018 opened #187 "[DEMO] Quantum Machine Learning Model Predictor for Continuous Variable"
#### General information

**Name**
Roberth Saénz Pérez Alvarado.

**Affiliation** (optional)
UNIVERSIDAD NACIONAL DE INGENIERIA ( UNI , LIMA-PERU).
--------------------------------------------------------------------------------

#### Demo information

**Title**
Quantum Machine Learning Model Predictor for Continuous Variable

**Abstract**
According to this paper: "Predicting toxicity by quantum m

[2020-12-17 08:15] josh146 commented on #187
Thanks @roberth2018 for your contribution! Someone from the team will get back to you shortly.

[2020-12-18 16:42] rdisipio opened #191 "[DEMO] A Quantum-Enhanced LSTM Layer"
#### General information

**Name**
Riccardo Di Sipio

**Affiliation** (optional)
Ideal.com (O5 Systems)

--------------------------------------------------------------------------------

#### Demo information

**Title**
[DEMO] A Quantum-Enhanced LSTM Layer

**Abstract**
In Natural Language Processing, documents are usually presented as sequences of words. One of the most successful techniques to m

[2020-12-18 16:59] josh146 commented on #191
Thanks for the contributed demo @rdisipio! It looks great.

Someone from the team will get back to you shortly with details on adding it to the community page.

[2020-12-18 17:30] rdisipio commented on #191
Thanks! I also added a Jupyter notebook to the repository and a plot that shows a comparison between the losses for the two cases (they were shown in two separate plots in the first iteration).

[2020-12-18 20:04] co9olguy commented on #191
Hi @rdisipio, thanks for the contribution! I've made a card for the website. Let me know if you spot any issues.

![image](https://user-images.githubusercontent.com/7213358/102656692-42d78680-4142-11eb-916c-2d725a3ccca5.png)

[2020-12-18 20:16] co9olguy commented on #187
Hi @roberth2018!

I've made your demo into a card for website. Before posting it there, I wanted to run it by you, as I have made some moderate edits to fix typos and tidy up the English:
![image](https://user-images.githubusercontent.com/7213358/102657611-f9883680-4143-11eb-875d-fdc0314da842.png)

[2020-12-19 02:34] rdisipio commented on #191
Looks good to me!

[2020-12-21 18:04] co9olguy commented on #191
Thanks @rdisipio. Has now been merged; should be visible online shortly!

[2020-12-21 18:04] #191 closed

[2020-12-21 18:04] co9olguy commented on #187
Has now been merged and should be visible online shortly, thanks @roberth2018!

[2020-12-21 18:05] #187 closed

[2021-01-06 16:57] #171 closed

[2021-01-13 14:47] glassnotes commented on #54
Following the completion of #135 and #193, the page of automatic differentiation has been removed from view, and a number of new pages / definitions were added. The  pages that were *not* modified in those two updates are:
 - [circuit ansatz](https://pennylane.ai/qml/glossary/circuit_ansatz.html)
 - [hybrid computation](https://pennylane.ai/qml/glossary/hybrid_computation.html)
 - [parameter-shift

[2021-01-13 14:53] josh146 commented on #84
Addendum: this is not entirely accurate.

While all _executed_ demos (those with filenames beginning `tutorial_`) will share the same requirements as the top level `requirements.txt` file), non-executed demos have requirements known only by the demo author.

[2021-01-13 14:58] glassnotes opened #200 "Add bylines to demos"
Add bylines to the demos with the following information:
 - original publication date
 - date of most recent update (if any)
 - author ("PennyLane team", or external contributor where applicable)
 - PennyLane version

For the PL version, must decide if we should add version of most recent build, original version, or a range of versions for which this demo will work (like ">=0.11" or something).

[2021-01-13 15:04] josh146 opened #201 "Make as many non-executable demos executable as possible"
Currently, several demos are not executed when the website is deployed, for a couple of reasons:

* Execution time: `qgrnn`, `qonn`, `quantum_neural_net`

* Requires access to hardware/external services or APIs: `pytorch_noise`, `quantum_volume`

* Tricky to install dependency on CircleCI: `qsim_beyond_classical`

For the ones with currently a slow execution time, perhaps porting them to use backp

[2021-01-13 15:10] glassnotes commented on #53
Closing this issue as all demos appear to have adopted one of the reference formats described above (inline citations, or bottom-of-the page bibliography). We can open a new issue for any further suggestions and/or updates to the references.

[2021-01-13 15:10] #53 closed

[2021-01-13 15:13] josh146 commented on #200
Thoughts:

* Should we only add PennyLane version for demos we know _don't_ work with the latest PL? I figure that there is always an assumption that demos/tutorials work with the latest version.

[2021-01-13 15:21] josh146 commented on #200
Funnily enough, this should work:

[code]

But, it will install EVERYTHING. Torch, TensorFlow, Jax, plugins, Qiskit, PyQuil, and so on 😆

[2021-01-14 07:30] mariaschuld commented on #54
Yes, I thnk this issue is outdated and was not very informative to begin with.

[2021-01-14 14:05] glassnotes commented on #54
Cool, thanks for checking! :+1:

[2021-01-14 14:05] #54 closed

[2021-01-15 20:24] albi3ro opened #204 "Update cost functions to support more flexible optimizer functionality."
Since PennyLane [PR #959](https://github.com/PennyLaneAI/pennylane/pull/959) optimizers can accept cost functions with non-trainable data, multiple trainable parameters, and keywords.  Our demos should reflect this flexibility, instead of using lambda functions and other workarounds.

[2021-01-20 16:05] rdisipio opened #205 "[DEMO] Quantum-Enhanced Transformer"
#### General information

**Name**
Riccardo Di Sipio

**Affiliation** (optional)
Ideal.com (O5 Systems)

--------------------------------------------------------------------------------

#### Demo information

**Title**
A Quantum-Enhanced Transformer

**Abstract**
The Transformer neural network architecture revolutionized the analysis of text. Here we show an example of a Transformer with quantum-

[2021-01-20 20:24] glassnotes commented on #205
Thanks, @rdisipio ! We'll take a look as soon as we can.

[2021-01-22 16:50] glassnotes commented on #205
Hi @rdisipio , your demo is ready to go in PR #206.  I have made one minor edit to the abstract - please check it out, and if you're happy with it let me know and we'll merge it in :+1:

[2021-01-26 08:21] mariaschuld commented on #68
We could simply use 50 instead of 100 optimisation steps, which should make things twice as fast. The final plot is quite noisy anyways!

@thisac are you still upgrading this demo to tape mode, so that you could change `total_iterations = 100` to `total_iterations = 50`? Or shall I make a PR?

[2021-01-26 08:24] josh146 commented on #68
The new backprop default might make a big difference without any changes, even?

[2021-01-26 14:29] rdisipio commented on #205
Thanks, it looks good to me.

Best,
Riccardo

[2021-01-26 14:38] glassnotes commented on #205
Excellent, I've merged it in and you should see it live within the next day or so. Thanks again!

[2021-01-26 14:38] #205 closed

[2021-01-26 15:55] glassnotes commented on #68
@antalszava has updated this one to tape mode. The new version takes between 7-8 minutes on my machine, I expect it will build for the demo page in ~10 minutes which is much better than before!

[2021-01-26 16:27] fioyarce opened #209 "[DEMO] Layerwise learning for quantum neural networks"
#### General information

**Name**
Felipe Oyarce Andrade.

--------------------------------------------------------------------------------

#### Demo information

**Title**
Layerwise learning for quantum neural networks.

**Abstract**
In this project we’ve implemented a strategy presented by [Skolik et al., 2020](https://arxiv.org/abs/2006.14904) for effectively train quantum neural networks. In

[2021-01-26 16:34] glassnotes commented on #209
Thank you @fioyarce , we'll take a look at get back to you as soon as we can!

[2021-01-26 17:43] glassnotes commented on #209
Please see #210, abstract text is lightly edited to help it fit better in the card. If you're happy with it, let me know and we'll get it merged in!

[2021-01-26 21:57] glassnotes opened #211 "Reorder community demos"
It was suggested to reorder the demos on the community page in reverse chronological order, so that the most recent demos are highlighted. :clock1:

[2021-01-27 04:07] josh146 commented on #211
:+1: This has been bothering me for a while!

[2021-01-28 13:32] glassnotes commented on #68
The build in tape mode confirms the demo time is now down to ~7.5 minutes. It may be possible to improve this further, but will close this now since this is a significant improvement and the build time is now below the recommended threshold.

[2021-01-28 13:32] #68 closed

[2021-01-29 13:00] glassnotes commented on #209
Awesome, thanks, it's been merged and you'll see it on the site within the next day or so. Thanks again for the contribution! :grin:

[2021-01-29 13:00] #209 closed

[2021-01-29 15:01] #211 closed

[2021-01-29 20:59] co9olguy opened #214 "Force browsers to clear cache"
Often new demos are not viewable unless the user manually clears the browser cache. This makes it annoying to advertise new tutorials, because some users will think they're "not there"

[2021-01-30 15:11] #214 closed

[2021-02-02 12:50] glassnotes commented on #200
Closing as the bylines were added as part of #203; in terms of the requirement info, that can be handled as part of #201 :+1:

[2021-02-02 12:50] #200 closed

[2021-02-27 05:13] huckiyang opened #219 "[DEMO] QCNN for Speech Recognition and Neural Saliency Analysis"
#### General information

**Name**
C.-H. Huck Yang

**Affiliation**
Georgia Institute of Technology, Atlanta, GA

--------------------------------------------------------------------------------

#### Demo information

**Title**
QCNN for Speech Commands Recognition.

**Abstract**
We provide a hybrid model training with larger-scale acoustic features 3,000 to 10,000 with quantum convolution network

[2021-02-27 21:36] ycchen1989 opened #220 "[DEMO] Variational Quantum Circuits for Deep Reinforcement Learning"
#### General information

**Name**
Samuel Yen-Chi Chen

**Affiliation**
Brookhaven National Laboratory, Upton NY

--------------------------------------------------------------------------------

#### Demo information

**Title**
Variational Quantum Circuits for Deep Reinforcement Learning

**Abstract**
This work explores variational quantum circuits for deep reinforcement learning. Specifically, w

[2021-02-28 06:34] SemyonSinchenko opened #221 "[DEMO] Feature maps for kernel-based quantum classifiers"
#### General information

**Name**
Semyon Sinchenko

**Affiliation** (optional)
Moscow State University

--------------------------------------------------------------------------------

#### Demo information

**Title**
Feature maps for kernel-based quantum classifiers

**Abstract**
In this tutorial we implement a few examples of feature maps for kernel based quantum machine learning. We'll see ho

[2021-02-28 17:03] josh146 commented on #221
Thanks @SemyonSinchenko for this nice contribution!

A member of the team will have a look some time during this week 🙂

[2021-02-28 17:04] josh146 commented on #220
Thanks @ycchen1989 for this great contribution!

A member of the team will get back to you sometime during this week for a demo review 🙂

[2021-03-01 13:24] trbromley commented on #219
Thanks @huckiyang for this nice contribution!

A member of the team will have a look some time during this week :slightly_smiling_face:

[2021-03-03 22:19] Thenerdstation commented on #221
Thanks @SemyonSinchenko, I'll open a PR to add this to the community page.

[2021-03-05 18:31] trbromley commented on #219
Thanks @huckiyang for the contribution! Your demo is now visible on the [community demos](https://pennylane.ai/qml/demos_community.html) page! :100: :rocket:

[2021-03-05 18:48] #220 closed

[2021-03-05 19:10] trbromley commented on #220
Thanks @ycchen1989  for the contribution! Your demo is now visible on the [community demos](https://pennylane.ai/qml/demos_community.html) page! :100: :rocket:

[2021-03-05 20:14] trbromley commented on #219
Hi @huckiyang, I'd like to consider rewording the abstract slightly. Would the following work for you:

[2021-03-05 20:31] huckiyang commented on #219
Hi @trbromley Thank you Tom, it looks good to me. Many thanks for the editing efforts.

[2021-03-05 21:12] #219 closed

[2021-03-08 22:14] ixfoduap opened #228 "Search bar"
The collection of PennyLane demos is amazing! Yet as it continues to grow, it's becoming difficult to find specific demos. We have a nice structure organizing them into categories, and useful filters for specific topics, both of which are very helpful. Yet it often still takes time to locate specific tutorials.

Adding a search bar to the page would make it much easier to navigate and to quickly i

[2021-03-09 06:52] josh146 commented on #228
This should be quite easy to do - we are actually hiding the search bar which is automatically added via sphinx!

In fact, it should be possible to get to the search page still: https://pennylane.ai/qml/search.html

Weirdly, though, the search isn't working for me 🤔

[2021-03-09 06:52] josh146 commented on #228
Okay, I can't get the PL _nor_ the SF docs search working either:

https://pennylane.readthedocs.io/en/stable/search.html?q=backpropagation

Does it work for anyone else? Both were working for me during QHack, as I was using it to search for functions.

[2021-03-09 13:57] co9olguy commented on #228
It still works, but it seems to be picky about which queries it will return results for (e.g., try `rot`). I don't think it's a general-purpose search

[2021-03-09 14:04] josh146 commented on #228
Weird, none of the search pages are working for me, in both chrome and firefox 🤔

[2021-03-09 20:11] #221 closed

[2021-03-09 22:13] trbromley commented on #221
Thanks @SemyonSinchenko for the contribution! Your demo is now visible on the [community demos](https://pennylane.ai/qml/demos_community.html) page! :100: :rocket:

[2021-03-27 20:57] nahumsa opened #238 "[DEMO] Meta-Variational Quantum Eigensolver"
#### General information

**Name**
Nahum Sá

**Affiliation** (optional)
Centro Brasileiro de Pesquisas Físicas

--------------------------------------------------------------------------------

#### Demo information

**Title**
Meta-Variational Quantum Eigensolver

**Abstract**
In this tutorial I follow [Meta-VQE paper](https://arxiv.org/abs/2009.13545). The Meta-VQE algorithm is a variational quan

[2021-03-29 16:03] co9olguy commented on #238
Thanks for the contribution @nahumsa! I'll put together a new card for your project shortly and share with you before adding to the site

[2021-03-29 17:31] co9olguy commented on #238
Hi @nahumsa, I've created a new [PR](https://github.com/PennyLaneAI/qml/pull/239) to add your demo to the site (with some light editing for grammar). You can see a preview here:
![image](https://user-images.githubusercontent.com/7213358/112875708-8707ea80-9092-11eb-94a5-342915939883.png)

Also, if you have any suggested images for us to use when advertising your tutorial on social media, feel free

[2021-03-30 13:22] nahumsa commented on #238
Awesome, thanks!
I don't have any suggested images, feel free to choose.

[2021-03-30 15:16] co9olguy commented on #238
Great, thanks for the submission @nahumsa! We'll advertise it shortly :slightly_smiling_face:

[2021-03-31 20:30] co9olguy commented on #238
Thanks again @nahumsa, it's out in the wild  now

[2021-03-31 20:30] #238 closed

[2021-04-20 17:53] josh146 opened #256 "[BUG] Backprop tutorial is producing incorrect benchmarks"
The time scaling plot in the backprop tutorial is currently incorrect:

![image](https://user-images.githubusercontent.com/2959003/115442108-35dbb880-a244-11eb-9f59-a1f879da4fc0.png)

Strangely enough, the first section of the demo, comparing single forwards and backwards pass times for parameter-shift vs. backprop, seems to still be returning sensible times.

[2021-04-21 15:11] glassnotes opened #257 "[BUG] Quanvolution demo results don't match rendered version"
First noted by a user [here](https://discuss.pennylane.ai/t/not-getting-the-expected-results/986), and confirmed independently by me using a fresh environment with the most recent version of PennyLane and contents of the `qml` repo requirements file.

The plots produced at the end (left) don't match the results in the demo (right). The user obtained identical plots to my locally run version (given

[2021-04-21 15:18] josh146 commented on #257
My first guess was that this was a non-executed demo, but it looks like it _is_ executed 🤔

[2021-04-21 15:23] glassnotes commented on #257
Yes, same here. Do you get different results as well when you run it locally?

[2021-04-21 15:26] josh146 commented on #257
Might not get a chance currently! Will pencil it in as a todo. I wonder if this is related to @co9olguy's numerical accuracy issue. @glassnotes, if you run the PL test suite locally, does everything pass?

[2021-04-21 15:32] glassnotes commented on #257
It actually does not - I get a few failures (noted below), but nothing I would expect to affect the results of the demo execution.

[code]

[2021-04-21 15:38] josh146 commented on #256
Update: this looks to be a TensorFlow specific issue, see https://github.com/PennyLaneAI/pennylane/issues/1244. Swapping this demo over to Autograd reverts to the previous timing behaviour.

[2021-04-23 10:08] josh146 commented on #256
More info:

The last build in which this demo was correctly passing occurred 8 days ago with [build 2968](https://app.circleci.com/pipelines/github/PennyLaneAI/qml/2813/workflows/81bd4d9b-061c-42f9-9f4f-b0d76e023b92/jobs/2968), with [demo artifact available here](https://2968-214003948-gh.circle-artifacts.com/0/_build/html/demos/tutorial_backprop.html).

For longevity, this build had the following

[2021-04-23 10:19] josh146 commented on #256
Update: the demo has been swapped to use autograd, while we investigate this issue.

[2021-04-23 15:18] josh146 opened #259 "Replace usage of `qml.init` with `Template.shape`"
The `init` module has been deprecated, and the recommend approach for generating initial weights is to use the `Template.shape` method:

[code]

We should update demos using the `init` module to instead use the `shape` method.

[2021-05-06 08:16] emgilfuster commented on #259
is this meant to work for user-defined templates too?
Are templates supposed to have *only* trainable parameters or *only* data parameters?

In the image there's a template we defined during qhack, what would be the correct approach to randomly initialize only the parameters, not the x here?

![image](https://user-images.githubusercontent.com/44003229/117264933-05a33500-ae54-11eb-947c-b32a47d3be24

[2021-05-06 08:25] josh146 commented on #259
@emgilfuster that is a good question. @mariaschuld, I believe the `@qml.template` decorator is deprecated?

[2021-05-06 08:31] emgilfuster commented on #259
for information completeness, here's another image:
![image](https://user-images.githubusercontent.com/44003229/117267026-210f3f80-ae56-11eb-89bd-a2cb64f6e848.png)

The random_params function is how we used to initialize the parameters.
weights is the naive implementation of the new approach, which is of coursed doomed.

[2021-05-06 09:07] mariaschuld commented on #259
Wait, I am not sure I follow. The `init` functions are still valid as they were, since they just generate random arrays of the right shape. We can leave them in the code base for a while longer, but encourage users to rather query the template's `shape` method.

This method is not implemented by default, i.e. it depends on the implementation of the template what shapes are returned and in which fo

[2021-05-06 09:08] mariaschuld commented on #259
The port to the new design is quite new and there may be a mix of both logics for a while, which we'll start to clean up soon...

[2021-05-06 09:11] emgilfuster commented on #259
I understand, thanks @mariaschuld and @josh146 !

[2021-05-06 09:57] josh146 commented on #259
This thread actually gave me an idea - we could update the `@template` decorator to create new-style templates. For example,

[code]

We can then apply this new decorator to our template function, and automatically:

* Turn it into an operation
* Add an expand method
* Add a static shape method

[code]

which allows parameter initialization:

[code]

[2021-05-06 10:03] josh146 commented on #259
We could even take this further, and allow for backwards pass registration:

[code]

[2021-05-06 12:19] mariaschuld commented on #259
That's quite nice!

The only complexity is the call of `super` in `init` - often it makes more sense to hand-extract which inputs make it to the final "gate params". But having the decorator as a simple class-construction helper would be cool.

[2021-05-06 12:28] josh146 commented on #259
Yes, I was thinking that as well at first. But then I thought about it more - the decorator would only be used in cases like the current decorator, where ansatz parameters ~ gate parameters? So it should work fine there, and more advanced users/developers would instead graduate to the `Operator` subclassing...

[2021-07-02 15:33] glassnotes commented on #228
Closing this as the search bar is now live :tada:

[2021-07-02 15:33] #228 closed

[2021-07-05 02:01] sylviemonet opened #301 "[BUG] Pennylane Tutorial Search Bar"
-------------------------------------------------------------------------------------------------------------

#### Issue description

Description of the issue - Can not get the full search bar on safari.

<img width="1440" alt="searchBar" src="https://user-images.githubusercontent.com/16817699/124407940-b0ae6d00-dd77-11eb-8198-8537803c5b25.png">

* *Expected behavior:* Get the full search bar.

*

[2021-07-05 03:14] josh146 commented on #301
@AndrewGardhouse could this be related to screen/window width?

[2021-07-05 14:34] AndrewGardhouse commented on #301
@josh146 It looked like this issue came up from how Chrome and Safari calculated `width: auto` differently. I just opened https://github.com/PennyLaneAI/qml/pull/302 to fix this

[2021-07-08 14:08] AndrewGardhouse commented on #301
https://github.com/PennyLaneAI/qml/pull/302 has been merged to `master`

[2021-07-08 15:12] #301 closed

[2021-07-29 23:35] licedric opened #309 "[BUG] Noisy circuits demo doesn't work when run on Braket devices"
#### Issue description

In the [noisy circuits demo](https://pennylane.ai/qml/demos/tutorial_noisy_circuits.html), I get an unexpected error in the last cell when replacing the device with
`dev = qml.device('braket.local.qubit', backend="braket_dm", wires=2)`

There are other unrelated errors in other cells because the Braket device doesn't implement `dev.state`, which is outside the scope of this

[2021-07-30 06:44] josh146 commented on #309
@licedric this might be a dimensional issue 🤔 For some reason, either intentional or not, the Braket device is receiving an `ndarray` for the parameter of the `AmplitudeDamping` operation.

Either it is something like `AmplitudeDamping([0.543])` instead of `Amplitude(0.543)`, _or_ something even weirder is happening and it is receiving an array of size > 1?

[2021-07-30 06:45] josh146 commented on #309
I wonder if this ties in with the other dimensional issue you mentioned?

[2021-07-30 07:48] licedric commented on #309
Most probably - I think somehow `default.qubit` takes arrays as input to parametrized gates gracefully, but the Braket device much less so. I wonder how this behaves on other devices?

[2021-07-30 08:06] josh146 commented on #309
Potentially yeah. This could be because `default.qubit` parametrized gates are all written using NumPy vectorization.

Either way, if this is the case this is definitely a bug. Gate parameters should always be passed as scalars to devices.

[2021-07-30 16:08] KetpuntoG opened #310 "[DEMO] EVA (Exponential Value Approximation) algorithm"
#### General information

**Name**
Guillermo Alonso-Linaje.

**Affiliation** (optional)
Universidad de Valladolid.

**Twitter** (optional)
@KetPuntoG

**Image** (optional)
https://github.com/KetpuntoG/EVA_Tutorial/blob/main/eva.png

--------------------------------------------------------------------------------

#### Demo information

**Title**
EVA (Exponential Value Approximation) algorithm.

**

[2021-07-30 16:33] antalszava commented on #310
Hi @KetpuntoG, thank you for the submission!

We'll be creating a new card for your project and reaching out to check that its proposed look works with you. :+1:

[2021-07-30 16:34] josh146 commented on #310
Thanks @KetpuntoG! And just wanted to say, awesome illustrations in the notebook 🤩

[2021-07-30 16:42] KetpuntoG commented on #310
Thanks @antalszava @josh146 !!
I hope the notebook is well understood 😊

[2021-07-30 17:52] antalszava commented on #310
Hi @KetpuntoG, we've got a new PR adding your contribution to the list of community demos. The card for it would look like this:
![Screenshot from 2021-07-30 19-46-58](https://user-images.githubusercontent.com/24476053/127692611-b0d32fc3-0d00-4596-be23-50b015473d91.png)

Let us know if you'd like something to be adjusted! Further thanks for the additional info, we'll be able to use those when adve

[2021-07-30 18:11] KetpuntoG commented on #310
I think it's perfect @antalszava ! A pleasure to contribute to the community 😄

[2021-08-03 17:37] antalszava commented on #310
Hi @KetpuntoG, we've just merged in the PR that adds your contribution. Thank you again for posting! :tada: :heart_eyes:

[2021-08-03 17:37] #310 closed

[2021-08-04 08:26] KetpuntoG commented on #310
Cool @antalszava ! It's perfect 😊

[2021-08-04 16:59] antalszava commented on #309
Hi @licedric, thanks again for catching this! :slightly_smiling_face:

The main pain point is indeed that we're passing a numpy array to the operation. The fact that `format` cannot handle the array well causes the `TypeError: unsupported format string passed to numpy.ndarray.__format__` error for Braket when the noise channel is created.

Tried two other devices, the Qiskit and Qulacs devices (`d

[2021-08-06 19:23] abhilash1910 opened #314 "Quantum Hybird Circuits for TRPO/PPO based on policy RL [DEMO]"
#### General information

**Name**
Abhilash Majumder (abhilash1910-Github).

**Affiliation** (optional)
MSCI Inc.

**Twitter** (optional)
abhilash1396

**Image** (optional)
Suggested image to use when advertising your demo on Twitter; can be provided via hyperlink or by copy/pasting directly in GitHub.
https://user-images.githubusercontent.com/30946547/127306307-492184f3-a01b-46e4-a42a-6d10e320bb3

[2021-08-09 01:54] antalszava commented on #309
#312 has been added to the [`dev` branch](https://github.com/PennyLaneAI/qml/tree/dev) and https://github.com/PennyLaneAI/pennylane/pull/1495 is now part of the `master` branch of PennyLane. For me locally, using these modifications locally resolved the original issue.

This issue draws our attention to further addressing the following:
1. double-checking multiple devices running QML demos regular

[2021-08-09 20:47] antalszava commented on #314
Hi @abhilash1910, thank you for posting! :slightly_smiling_face:

We'll have a new card for your submission and double-check before shooting it live that it works with you. :+1:

[2021-08-11 17:27] antalszava commented on #314
Hi @abhilash1910, we've made an addition to have the demo in. The card description would be like:

![Screenshot from 2021-08-11 13-27-04](https://user-images.githubusercontent.com/24476053/129075355-7b1f7909-c66f-4743-8d08-bda6979f4083.png)

How is it looking?

[2021-08-11 18:36] abhilash1910 commented on #314
Hi @antalszava , this looks great! 💯

[2021-08-12 12:19] antalszava commented on #314
Hi @abhilash1910, with #316 merged, your tutorial will be going live! Thank you for your contribution! :tada: :heart_eyes:

[2021-08-12 12:19] #314 closed

[2021-08-14 19:38] co9olguy commented on #309
Closing as issue seems to be resolved. If it persists on different envs, please feel free to reopen :slightly_smiling_face:

[2021-08-14 19:38] #309 closed

[2021-08-20 06:05] LegacYFTw opened #322 "[DEMO] Subspace Search Variational Quantum Eigensolver"
#### General information

**Name**
Shah Ishmam Mohtashim
Turbasu Chatterjee
Arnav Das

**Twitter** (optional)
@IshmamShah
@Turbasu_Chatt
@arnavdas88

--------------------------------------------------------------------------------

#### Demo information

**Title**
Subspace Search Variational Quantum Eigensolver

**Abstract**
The variational quantum eigensolver (VQE) is an algorithm for searching t

[2021-08-24 06:49] mariaschuld commented on #322
Thanks so much for the demo, it was added to the community demo page and should be live soon!

[2021-08-25 09:15] albi3ro commented on #322
@LegacYFTw  .  The website is updated. You can see your entry at https://pennylane.ai/qml/demos_community.html

Thanks for the contribution 🎉

[2021-08-25 09:15] #322 closed

[2021-09-16 13:47] ta641 opened #333 "Quantum circuit learning to compute option prices and their sensitivities"
#### General information

**Name**
Takayuki Sakuma

**Affiliation** (optional)
Soka University

**Twitter** (optional)
Your Twitter username, if interested; helps us advertise your demo while linking directly back to you.

**Image** (optional)
Suggested image to use when advertising your demo on Twitter; can be provided via hyperlink or by copy/pasting directly in GitHub.

------------------------

[2021-09-16 20:45] CatalinaAlbornoz commented on #333
Thank you @ta641 ! This demo looks great. I will review it in detail and come back to you. Great job!

[2021-09-21 14:46] #333 closed

[2021-09-22 00:07] ta641 commented on #333
Thank you very much!

2021年9月21日(火) 23:41 CatalinaAlbornoz ***@***.***>:

[2021-09-24 18:52] sophchoe opened #341 "[DEMO] Hybrid quantum-classical auto encoder"
#### General information

**Name**
Sophie Choe

**Affiliation** (optional)
Portland State University
--------------------------------------------------------------------------------

#### Demo information

**Title**
Hybrid quantum-classical auto encoder

**Abstract**
Keras auto-encoder hybrid model
Encoder: 6 Keras dense layers
Decoder: 3 Pennylane qml layers

The loss function in the paper requir

[2021-09-24 19:25] CatalinaAlbornoz commented on #341
Thank you @sophchoe for submitting this Demo!

[2021-09-27 04:45] sophchoe opened #342 "[DEMO] Hybrid MNIST Classification Model"
#### General information

**Name**
Sophie Choe

**Affiliation** (optional)
Portland State University

--------------------------------------------------------------------------------

#### Demo information

**Title**
Hybrid MNIST Classification Model

**Abstract**
Keras-Pennylane hybrid model for MNIST classification, inspired by the Supervised learning with hybrid networks in "Continuous-variable

[2021-09-27 04:58] sophchoe opened #343 "[BUG] Can't save a Pennylane-Tensorflow hybrid model"
#### Before posting an issue

Search existing GitHub issues to make sure the issue does not already exist:
https://github.com/XanaduAI/qml/issues

Delete everything above the dashed line, and fill in the template.

-------------------------------------------------------------------------------------------------------------

#### Issue description

For a Keras-Pennylane hybrid model, model.save() d

[2021-09-27 08:05] josh146 commented on #343
Hi @sophchoe! Thanks for reporting this.

As this is a bug in PennyLane, and not the tutorials, I recommend re-opening this in the [PennyLane issue tracker](https://github.com/PennyLaneAI/PennyLane/issues). That will make it visible to the main PennyLane developers, who will be able to fix the bug 🙂

In this case, however, I can provide a bit more information --- unfortunately, the `qml.qnn.KerasL

[2021-09-27 08:05] #343 closed

[2021-09-27 08:06] josh146 commented on #342
Hi @sophchoe, thank you for this submission! I member of our team will be in touch shortly after reviewing 🙂

[2021-09-27 23:01] sophchoe commented on #341
Hi Catalina,

I cleaned up the code slightly and reposted.

The paper called for 25 quantum layers which I thought was only 3.

Upon running an experiment with 25 layers, I saw a very slight improvement.

Thanks.

[2021-09-28 07:04] josh146 commented on #343
Not at all, it would be super useful to post it 🙂 This is for a couple of reasons:

- It spreads awareness to other contributors as well
- It lets the core developers know that this is a feature that is important to PennyLane users :)

[2021-09-28 13:47] CatalinaAlbornoz commented on #341
Hi @sophchoe, thank you for this improvement! I hope that we can get the demos published today. I will let you know when they are up!

[2021-09-28 19:18] Jaybsoni opened #344 "[FEATURE] Update VQE with Parallel QPUs demo to use Dask explicitly and remove qml.ExpvalCost"
As part of a demo update (#330), we came across a [demo](https://github.com/PennyLaneAI/qml/blob/master/demonstrations/tutorial_vqe_parallel.py) which requires a little more work in order to update.

In this demo, we would like to replace the instances of `qml.ExpvalCost` with `qml.expval(H)` while preserving the ability to compute each term in the hamiltonian in parallel using Dask.

Updating thi

[2021-09-29 20:29] sophchoe opened #347 "[DEMO] Fraud Detection"
#### General information

**Name**
Sophie Choe

--------------------------------------------------------------------------------

#### Demo information

**Title**
Fraud Detection

**Abstract**
Binary classification of credit card fraudulent transactions using Keras and Pennylane

**Relevant links**
https://github.com/sophchoe/Binary_Classification_Pennylane_Keras/blob/main/fraud_detection_Pennylan

[2021-09-29 23:46] CatalinaAlbornoz commented on #347
Wow @sophchoe! This is amazing! Thank you for contributing this new Demo!

[2021-09-30 02:40] sophchoe commented on #347
Please let me know if you want me to create synthetic fraudulent data to increase the sample size.

[2021-09-30 13:18] CatalinaAlbornoz commented on #341
Hi @sophchoe. The Demo is up! You can see it here https://pennylane.ai/qml/demos_community.html
Thank you once again for this contribution!

[2021-09-30 13:22] CatalinaAlbornoz commented on #342
Hi @sophchoe. This demo is up too! You can see it here https://pennylane.ai/qml/demos_community.html
Thank you for this contribution 😄. We will make a tweet in a few hours to promote both demos so feel free to share it with your network.

[2021-09-30 15:28] #342 closed

[2021-09-30 15:28] #341 closed

[2021-09-30 17:07] sophchoe commented on #342
Wow, great page! I wanted to work on Quanvolutional neural network and I see a code there. Maybe I can combine with QNN layers and try on MNIST and Cifar10. Thank you!

[2021-10-01 17:23] CatalinaAlbornoz commented on #347
Hi @sophchoe, I don't think you need any additional data. The algorithm is running nicely with the current dataset you're using! I was thinking though that it may be useful for others if the abstract was a little more detailed. Do you mind adding a little more explanation to the abstract? Thanks!

[2021-10-01 23:36] sophchoe commented on #347
Hi Catalina,

I went more detailed with Readme. Let me know if you want me to elaborate further on the cutoff dimension concept. Thank you for all your feedback.

[2021-10-02 01:23] sophchoe commented on #347
I additionally added a couple lines in the Jupiter notebook file as well.

[2021-10-03 10:33] niklasjosq opened #349 "[BUG]"
-------------------------------------------------------------------------------------------------------------

#### Issue description

Description of the issue - include code snippets and screenshots here
if relevant. You may use the following template below

* *Expected behavior:

plotting energy function with (x,cost_pt)

* *Actual behavior:* plotting energy function with (x,cost_pt) not working

[2021-10-03 11:37] josh146 commented on #349
Hi @niklasjosq! Thanks for reporting this bug. We'll need a little more information to investigate:

- What demonstration/tutorial were you running when you received this error?
- What version of PennyLane are you running? This can be printed out by running `qml.about()` in Python 🙂

[2021-10-03 14:51] niklasjosq commented on #349
Hey @josh146, referring to this notebook:
**https://pennylane.ai/qml/demos/tutorial_isingmodel_PyTorch.html**

Name: PennyLane
Version: 0.18.0
Summary: PennyLane is a Python quantum machine learning library by Xanadu Inc.
Home-page: https://github.com/XanaduAI/pennylane
Author: None
Author-email: None
License: Apache License 2.0
Location: /home/niklas/miniconda3/envs/q/lib/python3.9/site-packages

[2021-10-04 05:21] josh146 commented on #349
Thanks @niklasjosq! Unfortunately, I am unable to reproduce this issue. Can I ask what versions of Torch, NumPy, and Matplotlib you have installed?

[2021-10-04 13:32] CatalinaAlbornoz commented on #347
This is great! Thank you @sophchoe. I hope we can put it up on the page today.

[2021-10-05 00:46] CatalinaAlbornoz commented on #347
Hi @sophchoe, the demo is up! We will tweet about it on Thursday. Congratulations!!

[2021-10-05 07:12] #347 closed

[2021-10-05 16:37] sophchoe commented on #347
Thank you so much for all your help, Catalina!

[2021-10-05 19:10] CatalinaAlbornoz commented on #347
It was a pleasure! Thanks to you for creating this great content.

[2021-10-07 19:11] co9olguy commented on #349
Closing due to lack of response. We can reopen if the issue is clarified :)

[2021-10-14 09:45] josh146 opened #353 "Update quantum gradient and parameter-shift pages"
The following two pages are due for an upgrade:

- https://pennylane.ai/qml/glossary/parameter_shift.html: We should link to our various parameter-shift demos, and update the derivation! It is outdated when compared to latest results and derivations in the literature.

- https://pennylane.ai/qml/glossary/quantum_gradient.html: We should link to our various gradient demos, and potentially gradient

[2021-10-14 09:52] josh146 opened #354 "Update the stochastic parameter-shift demo to link to/reference recent works and demos"
The stochastic parameter-shift demo is somewhat outdated in terms of the content, and doesn't reflect new understanding of where the stochastic shift rule applies. For example:

- it is now known to _not_ apply in general, there remains a restriction on the form of the Hamiltonian of the operator to be differentiated.
- A general parameter-shift rule is known, see https://pennylane.ai/qml/demos/tu

[2021-10-14 12:12] glassnotes commented on #257
Just ran locally, yes it does. The results in this graph are consistent with the previous version I obtained running locally, which is still inconsistent with the live demo.

![image](https://user-images.githubusercontent.com/2068515/137314809-195b99c0-83f3-431b-885d-546e758287eb.png)

[2021-11-04 09:42] nsansen opened #372 "[DEMO]"
#### General information

**Name**
Nikolaos Schetakis (nikschet)

**Affiliation** (optional)
1. Alma-Sistemi srl
2. Technical University of Crete

**Twitter** (optional)
Your Twitter username, if interested; helps us advertise your demo while linking directly back to you.

**Image** (optional)
Suggested image to use when advertising your demo on Twitter; can be provided via hyperlink or by copy/pa

[2021-11-04 13:30] CatalinaAlbornoz commented on #372
Thank you for submitting this demo @nsansen! I will review and hopefully have it up in the website very soon.
Are you participating in the [PennyLane Quantum Carnival](https://pennylane.ai/carnival)? This demo will give you tickets.

[2021-11-04 13:34] nsansen commented on #372
Hello, I just subscribed to the quantum carnival. And plan to explore it.

Best
Nikolaos Schetakis

Best regards,
Nikolaos Schetakis

LEGAL DISCLAIMER:
The contents of this email and any transmitted files are confidential and intended solely for the use of the individual or entity to whom they are addressed. We hereby exclude any warranty and any liability as to the quality or accuracy of the cont

[2021-11-04 19:56] CatalinaAlbornoz commented on #372
Awsome @nsansen! Did you register with the same email as the one you have on the demo? If not you can let me know on a private message on Slack.

[2021-11-04 23:09] nsansen commented on #372
Hello , is there a pennylane slack workspace? Please send me the name. I think I register under the: ***@***.*** ***@***.***> email.

Best regards,
Nikolaos Schetakis

LEGAL DISCLAIMER:
The contents of this email and any transmitted files are confidential and intended solely for the use of the individual or entity to whom they are addressed. We hereby exclude any warranty and any liability as to t

[2021-11-05 14:04] CatalinaAlbornoz commented on #372
Hi @nsansen, yes! This is the link to the xanadu slack https://xanadu-quantum.slack.com  . There you will find a PennyLane channel and others as well. Please send me the email you registered on a private message on Slack. Thanks!

[2021-11-05 20:21] nsansen commented on #372
Dear ,

On Monday the paper will be published on arXiv, I will provide a link to you then, since I am not sure if I can edit the demo.

Thanks!!!

Best regards,
Nikolaos Schetakis

LEGAL DISCLAIMER:
The contents of this email and any transmitted files are confidential and intended solely for the use of the individual or entity to whom they are addressed. We hereby exclude any warranty and any liab

[2021-11-08 09:01] nsansen commented on #372
Hello!

The paper got published in the arXiv. Please if you upload the demo use this link to cite the paper (and not the old one I have written) : https://arxiv.org/pdf/2111.03372.pdf

Many thanks!!!

Best regards,
Nikolaos Schetakis
Best regards,
Nikolaos Schetakis

LEGAL DISCLAIMER:
The contents of this email and any transmitted files are confidential and intended solely for the use of the indiv

[2021-11-09 03:13] CatalinaAlbornoz commented on #372
Hi @nsansen, I managed to make it work with Python 3.8.10.
I still see several warnings so I'll look into it tomorrow to see if they can be fixed.

[2021-11-09 10:39] nsansen commented on #372
Thank you very much!! Let me know if you need me to do anything.

Best regards,
Nikolaos Schetakis

LEGAL DISCLAIMER:
The contents of this email and any transmitted files are confidential and intended solely for the use of the individual or entity to whom they are addressed. We hereby exclude any warranty and any liability as to the quality or accuracy of the contents of this email and any attache

[2021-11-10 21:20] CatalinaAlbornoz commented on #372
Hi @nsansen ,
The changes that should be made are:

In section "3. Build Quantum node"
 - Comment `qml.enable_tape()`
 - Change `grad_method="backprop"` to `diff_method="backprop"`

In section 5. Make predictions and plot training history + prediction grids
- Change `modelh.predict_proba(X_test)` to `modelh.predict(X_test)`
- Change `modelh.predict_classes(X_test)` to `(modelh.predict(X_test) > 0.

[2021-11-11 09:00] nsansen commented on #372
Dear Catalina,  Thank you very much for your time and effort. I made this changes and I get no warning. Everything works great! I found out a small mistake I made regarding numbering the sections so section "3. Build Quantum node" should be "5. Build Quantum node" and the other numbers need some rearrangement. I fix these and the code is the one attached. BestNikolaos Schetakis Sent from Mail for

[2021-11-11 14:28] CatalinaAlbornoz commented on #372
Hi @nsansen, good catch with the numbering. Remember to upload the updated version of the notebook [here](https://github.com/nsansen/Quantum-Machine-Learning/blob/main/Pennylane%20DEMO%20v2.ipynb).

[2021-11-11 14:56] nsansen commented on #372
Hi! Updated version is uploaded in Github  (Pennylane DEMO v4.ipynb) https://github.com/nsansen/Quantum-Machine-Learning/blob/main/Pennylane%20DEMO%20v4.ipynb Many thanks. If you need me to do anything else let me know BestNikolaos Schetakis  Sent from Mail for Windows From: CatalinaAlbornozSent: 11 November 2021 16:28To: PennyLaneAI/qmlCc: Nikolaos Schetakis; MentionSubject: Re: [PennyLaneAI/qml]

[2021-11-11 22:14] CatalinaAlbornoz commented on #372
Thank you @nsansen! I think we're all good! I believe this should be up in the page tomorrow. Congrats! Do you want us to tag you in the tweet where we will promote it?

[2021-11-12 07:38] nsansen commented on #372
Thank you very much!!

Sorry I don’t have an official twitter account.

Best regards,
Nikolaos Schetakis

LEGAL DISCLAIMER:
The contents of this email and any transmitted files are confidential and intended solely for the use of the individual or entity to whom they are addressed. We hereby exclude any warranty and any liability as to the quality or accuracy of the contents of this email and any a

[2021-11-12 14:34] CatalinaAlbornoz commented on #372
No problem @nsansen! Just one last comment, if you could add a note on the top of the notebook saying that this only runs with Python 3.7-3.8 it would be great (without changing the notebook URL). The Demo should be up in the page in the next few hours!

[2021-11-12 15:11] nsansen commented on #372
Ok the change has been implemented as requested. BestNS Sent from Mail for Windows From: CatalinaAlbornozSent: 12 November 2021 16:34To: PennyLaneAI/qmlCc: Nikolaos Schetakis; MentionSubject: Re: [PennyLaneAI/qml] [DEMO] (Issue #372) No problem @nsansen! Just one last comment, if you could add a note on the top of the notebook saying that this only runs with Python 3.7-3.8 it would be great (witho

[2021-11-12 22:41] CatalinaAlbornoz commented on #372
The demo is up! Congratulations @nsansen! You can find it here https://pennylane.ai/qml/demos_community.html. Feel free to share it on social media!

[2021-11-16 16:22] #372 closed

[2021-11-18 14:14] antalszava opened #381 "Update the PR description page"
The second bullet point is no longer up-to date:
![image (9)](https://user-images.githubusercontent.com/24476053/142431673-6030bcec-039e-4c58-acfa-6a70d55c346d.png)

[2021-11-19 20:06] KaterinaGratsea opened #383 "[DEMO] Exploring quantum models with a teacher-student scheme"
#### General information

**Name**
Katerina Gratsea and Patrick Huembeli

**Affiliation** (optional)
Your affiliation, if applicable; e.g. University, research institute, company.

**Twitter** (optional)
AGratsea and PHuembeli

**Image** (optional)
https://drive.google.com/file/d/18o5UB3Mmb7x9HiF3C9su9m6YDLkNkLD8/view?usp=sharing

-------------------------------------------------------------------

[2021-11-19 22:29] CatalinaAlbornoz commented on #383
Thank you @KaterinaGratsea! I will be reviewing it next week and I'll let you know when it's up in the page!

[2021-11-20 07:42] KaterinaGratsea commented on #383
Perfect, thanks!

On Sat, Nov 20, 2021, 00:29 CatalinaAlbornoz ***@***.***>
wrote:

[2021-11-22 18:13] CatalinaAlbornoz commented on #383
Hi @KaterinaGratsea, congratulations on your Demo! It was very interesting to read and it ran without any errors. It should be up in the page by tomorrow so I'll let you know when it's there. This is really impressive work!

[2021-11-22 18:14] CatalinaAlbornoz commented on #383
I will send you your Quantum Carnival ticket on a private message on Discord 😄 .

[2021-11-22 18:18] KaterinaGratsea commented on #383
Thanks! Happy to hear that!

Looking forward to seeing it on the page.

Cheers,

Katerina

On Mon, Nov 22, 2021 at 8:13 PM CatalinaAlbornoz ***@***.***>
wrote:

[2021-11-22 19:02] CatalinaAlbornoz opened #388 "[FEATURE] Add support for images on community demo cards"
Add support for images on community demo cards.

[2021-11-23 23:07] CatalinaAlbornoz commented on #383
Hi @KaterinaGratsea. The demo is up in the [page](https://pennylane.ai/qml/demos_community.html)! We will promote it in the next few days.

Thank you for this amazing contribution!

[2021-11-24 20:41] co9olguy commented on #383
Now live, thanks for the submission @KaterinaGratsea!

[2021-11-24 20:41] #383 closed

[2021-11-30 14:28] josh146 opened #394 "[BUG] Update `qml.draw()` across demos."
In the latest version of PennyLane, `qml.draw()` defaults to drawing the QNode as is, without expanding templates.

However, some of the demos (including `tutorial_qaoa_intro.py`) use the circuit drawer to show how templates are expanded on devices.

Where applicable, demos should be updated to use `qml.draw(qnode, expansion_strategy="device")` if it is required. Note that demos that draw circuits

[2021-12-08 20:03] antalszava opened #403 "[BUG] Error mitigation demo fails stochastically"
The error mitigation demonstration emits the following error at times:
[code]
See a [related log](https://app.circleci.com/pipelines/github/PennyLaneAI/qml/4391/workflows/6cb04c1d-3057-4c07-85da-cfa5fb397c8d/jobs/4690/tests#failed-test-0).

[2021-12-17 18:44] pifparfait opened #410 "qCBR"
#### General information
A supervised classifier can be interpreted as a program capable of predicting the output of input from the labelled data. From the input data and the label, with known examples, we will be able to, which will be the label given new input.

The main idea of quantum Case-Based Reasoning (qCBR)1 is to interpret the statement of the problem as an input and the solution to the

[2021-12-22 11:13] dwierichs opened #411 "[FEATURE] Update Rotosolve demo"
The Rotosolve demo should cite all four of the independently inventing papers:

[Vidal and Theis, 2018](https://arxiv.org/abs/1812.06323)
[Nakanashi, Fujii and Todo, 2019](https://arxiv.org/abs/1903.12166) (or [PRResearch](https://journals.aps.org/prresearch/abstract/10.1103/PhysRevResearch.2.043158))
[Parrish, Iosue, Ozaeta and McMahon, 2019](https://arxiv.org/abs/1904.03206)
[Ostaszewski, Grant

[2021-12-22 15:32] CatalinaAlbornoz commented on #410
Hi @pifparfait,
Your demo is amazing! Congratulations!

I have slightly modified the summary so that it's easier for others to understand. Below id the new version. What do you think?

A supervised classifier is a program that can predict a label (class) for a new input object, based on the value of its attributes and on a training set. The training set consists of labelled data. The main idea of

[2021-12-22 17:21] pifparfait commented on #410
Many thanks, Catalina! It looks perfect!

[2021-12-22 17:55] CatalinaAlbornoz commented on #410
Awesome! I will let you know when it's up in the website.

[2021-12-22 20:30] pifparfait commented on #410
Great @CatalinaAlborno! Many thanks

[2021-12-23 23:47] CatalinaAlbornoz commented on #410
Hi @pifparfait, the demo is up on the [PennyLane website](https://pennylane.ai/qml/demos_community.html)! I'm not sure if we will get to promote it on Twitter next week but if not then we will promote it in January. Thank you and congratulations on this demo!

[2021-12-24 11:51] pifparfait commented on #410
Many thanks To you, @CatalinaAlbornoz. Let us keep improving.

[2022-01-11 17:38] #410 closed

[2022-02-18 18:00] Alex-259 opened #426 "[BUG] Quantum transfer learning on IBM backend"
#### Issue description
Hello,

first thanks for the wonderful notebook "Quantum transfer learning". It is really amazing.
I tried it and it works quite fine, when using `dev = qml.device('default.qubit', wires=n_qubits)` as device.

However, if I test it on an actual IBM machine (e.g. ibm_cairo) it does not work or runs for days.
The queue time is not the problem maybe rather some other issues. I

[2022-02-21 15:43] CatalinaAlbornoz commented on #426
Hi @Alex-259, at a first glance this looks like a problem with Qiskit. See how at the end of your error message they say: "This indicates an efficiency bug in synthesis.  Please report it by opening an issue here: https://github.com/Qiskit/qiskit-terra/issues/new/choose ".

Some workaround for now could be using a Mock backend. In this [error mitigation demo](https://pennylane.ai/qml/demos/tutoria

[2022-02-21 16:11] Alex-259 commented on #426
Hi @CatalinaAlbornoz, thanks for the reply.

Everything works fine on the qasm_simulator or on the fake backends.
The fake backends are good to see that in theory, it works even with errors. However, I am mostly interested in the results of the real backends. I just thought that maybe someone here has already encountered the same problem.

I will also post the question at qiskit and keep you here

[2022-02-21 17:13] PCesteban commented on #426
Hi @Alex-259, I faced a similar problem running my experiments on a real backend, and indeed it took a ridiculously amount of time to finish the task, however at the end the results were returned. I also think that that's an issue that needs to be addressed.

[2022-02-22 06:51] josh146 commented on #426
Thanks @Alex-259 and @PCesteban for reporting this! We will investigate and see what the cause could be. One quick question: when you are submitting the jobs for execution, do you see them in the job queue using the IBMQ web interface? If so, what is the status of these jobs?

[2022-02-22 07:56] Alex-259 commented on #426
Hello,

yes, I see the jobs in the queue. First, I have the error messages from above two times in the notebook even before the job runs on the real backend (I think the error messages come from the transpiler step). Then, I see my job in the queue as normal. I receive the results as far as I see (jobs are completed) and then for the next job the same procedure again.

I have executed over 300 job

[2022-02-23 09:07] Alex-259 commented on #426
Hi @rmoyard,

I tested what you mentioned. That is what I get. So, only execution and shots as an outcome
![result](https://user-images.githubusercontent.com/60505803/155288080-19e49b39-f0fa-49b8-9ec0-3b4762c4534d.png)

When I look at the IBM website https://quantum-computing.ibm.com/jobs/ I see the following for the job:
![result2](https://user-images.githubusercontent.com/60505803/155287852-dfb0

[2022-02-23 17:02] rmoyard commented on #426
What are your PennyLane and PennyLane-Qiskit version?

Thank you for sharing the different times number, in my opinion this issue is on Qiskit/Hardware side. PennyLane-Qiskit is just a way to translate the original PennyLane circuit to a Qiskit circuit. When the translation is done, we do not control what happens on the hardware side. What you can do on PennyLane side is changing the circuit, redu

[2022-02-24 08:01] Alex-259 commented on #426
Hi @rmoyard,

thanks for the answer.
Both are on the current version `0.21.0`.
I try to figure out what's going wrong on the hardware side and let you know here

[2022-02-24 08:53] #426 closed

[2022-02-25 20:42] KaterinaGratsea opened #430 "Implementing a unitary quantum perceptron with quantum computing"
#### General information

**Name**
Katerina Gratsea

**Affiliation** (optional)
ICFO

**Twitter** (optional)
@AGratsea

**Image** (optional)
![Screenshot from 2022-02-25 21-34-48](https://user-images.githubusercontent.com/45763333/155799227-5ad689ae-ea3d-4b48-a7d2-93c06a03c1a6.png)

--------------------------------------------------------------------------------

#### Demo information

**Title**
I

[2022-02-27 06:14] Jay-Patel-257 opened #432 "[DEMO] Weighted SubSpace VQE to find Kth excited state energies"
#### General information

**Name**
Jay Patel
Siddharth Patel
Amit Hirpara

**Affiliation** (optional)
Pandit Deendayal Energy University

**Twitter** (optional)
Jay Patel: The_Jay_Patel
Siddharth Patel: Siddharth1India
Amit Hirpara: am_hirpara

**Image** (optional)
![Poster](https://user-images.githubusercontent.com/71178246/155870166-96274746-2546-409c-aba0-2e38f6dc9b78.png)

--------------------

[2022-03-01 02:41] CatalinaAlbornoz commented on #430
Hi @KaterinaGratsea, thanks for creating this demo! We will review it and let you know when it's up on the website.

[2022-03-01 03:06] CatalinaAlbornoz commented on #432
Hi @Jay-Patel-257, thank you for submitting this demo! We will review it and let you know when it's up on our website.

[2022-03-01 11:47] KaterinaGratsea commented on #430
Perfect, thanks.

I also have the brief bussiness pitch in the git folder. I realized
afterwards it would have been better if I had simply added it with a
hyperlink in the hackathon project description.

On Tue, Mar 1, 2022, 03:41 CatalinaAlbornoz ***@***.***>
wrote:

[2022-03-02 22:21] CatalinaAlbornoz commented on #430
This is a super interesting demo @KaterinaGratsea. Congratulations! I was happy to see such big energy efficiencies. It's great that you included this in the demo.
About the business pitch, you can remove it in April if you want. We should be making the demo public on the PennyLane website this week. I'll let you know when it's up!

[2022-03-03 20:56] CatalinaAlbornoz commented on #430
Hi @KaterinaGratsea, your demo is up on the [PennyLane website](https://pennylane.ai/qml/demos_community.html)! We will be promoting it on Twitter today or tomorrow. Congrats on this amazing demo!

[2022-03-03 22:31] CatalinaAlbornoz commented on #432
Hi @Jay-Patel-257, great demo! We should be putting it up on the website early next week. Congratulations!

[2022-03-03 23:27] CatalinaAlbornoz commented on #432
Hi @Jay-Patel-257, I made a few updates to the description of the demo. Please let me know if you're ok with the new description. Also, if you want to rephrase it and make it shorter it would be great.

The variational quantum eigensolver (VQE) is generally used for finding the ground state energy of a given hamiltonian. To find the kth excited state energy of the hamiltonian we need to run the VQ

[2022-03-04 04:53] Jay-Patel-257 commented on #432
Thank you!! @CatalinaAlbornoz
I like the changes in the description, please go ahead with it!

[2022-03-04 12:00] KaterinaGratsea commented on #430
Hi Catalina,

great, thanks! Happy to hear that you found it interesting as well!

Have a nice day,
Katerina

On Thu, Mar 3, 2022 at 9:56 PM CatalinaAlbornoz ***@***.***>
wrote:

[2022-03-04 14:32] KaterinaGratsea commented on #430
Hi again,

I am also a bit worried if the business pitch will be taken under
consideration, since I uploaded it on github and not on the project
description when I created a hackathon issue. I have another presentation
there, which is supposed to be the non-technical presentation requested for
the hackathon. Any idea to whom I could write to make clear where the
business pitch is located?

On Wed,

[2022-03-08 19:40] CatalinaAlbornoz commented on #430
Hi @KaterinaGratsea, the reviewers for the hackathon project went through the different files on the GitHub so rest assured that they saw your business pitch and presentation.

[2022-03-08 20:00] KaterinaGratsea commented on #430
Perfect, thanks for letting me know!

On Tue, Mar 8, 2022, 20:40 CatalinaAlbornoz ***@***.***>
wrote:

[2022-03-08 20:11] #430 closed

[2022-03-09 20:50] antalszava opened #441 "Pull in the latest version of Lightning on the `dev` branch"
This is a TODO for either getting the release candidate or dev version of Lightning on the `dev` branch

See [original PR](https://github.com/PennyLaneAI/qml/pull/418) and [thread](https://github.com/PennyLaneAI/qml/pull/418#discussion_r796937174).

[2022-03-09 21:43] antalszava opened #442 "Pulling TF `>2.6.0` resolution conflict or failure"
Currently, TF and Keras are pinned to 2.6. Some dependencies of those versions, however, may conflict with the dependencies in the QML repo. For that reason (and to be testing with later versions of the packages), we may want to increase the versions used.

When pinning TF and Keras to 2.7, `pip` conflict resolution takes ~1 hour and fails:
* [Log](https://app.circleci.com/pipelines/github/PennyLa

[2022-03-09 22:47] CatalinaAlbornoz commented on #432
Hi @Jay-Patel-257, I wanted to let you know that the demo is up on the PennyLane [website](https://pennylane.ai/qml/demos_community.html)! We will be promoting it tomorrow on the PennyLane Twitter. Congratulations!

[2022-03-10 03:27] Jay-Patel-257 commented on #432
Thanks a lot @CatalinaAlbornoz !!

[2022-03-10 07:03] josh146 commented on #442
Good point @antalszava!

😬 😬 😬

[2022-03-10 13:55] antalszava commented on #442
Resolved by the PR referencing this issue.

[2022-03-14 19:01] Alex-259 opened #446 "Validation and training results Quantum Transfer Learning notebook"
#### Issue description

Qiskit Software | Version
-- | --
qiskit-terra | 0.18.3
qiskit-aer | 0.9.0
qiskit-ignis | 0.6.0
qiskit-ibmq-provider | 0.16.0
qiskit-aqua | 0.9.5
qiskit | 0.30.1

Python | 3.7.11 (default, Jul 27 2021, 14:32:16)  [GCC 7.5.0]
-- | --
OS | Linux
CPUs | 12
Memory (Gb) | 62.85524368286133
Fri Feb 18 18:53:45 2022 CET

And the newest versions of Pennylane.

Hello,

I tried the [

[2022-03-15 06:00] josh146 commented on #446
Hi @Alex-259! My best guess for what is happening here is that `default.qubit` is optimized for gradient evaluation. That is, `default.qubit` by default will make use of backpropagation to compute gradients of variational circuits. With backpropagation, the gradient is extracted with only a constant memory overhead compared to the forward pass execution.

On the other hand, `qasm_simulator` is not

[2022-03-15 13:55] Alex-259 commented on #446
Hi @josh146,

thanks for the quick and very good reply to my second point. That makes a big difference then of course. I have now run the Quantum Transfer Learning notebook with `default.qubit` and `@qml.qnode(dev, interface='torch', diff_method="parameter-shift")` for the 30 epochs for comparison. It takes there approximately 160 minutes. Thus, nearly 16 times faster than with `qasm_simulator`. I

[2022-03-18 09:27] Alex-259 commented on #446
Hi @CatalinaAlbornoz ,

thanks for your answer. I tested the differences for a very simple example. Since I also installed qiskit locally, I created one notebook with every test in it (comparable execution time results):

The results are the following:
## default.qubit
[code]
This gives the output
[code]

## qiskit.aer
[code]
This gives the output
[code]

## circuit converted to qasm_string

[code

[2022-03-18 13:15] co9olguy commented on #446
Hi @Alex-259,

As @josh146 mentions above, the major reason for the discrepency here is that `default.qubit` is able to use the faster backpropagation algorithm to compute gradients (since we've taken great efforts to make sure that the automatic differentiation pipeline works end-to-end across PennyLane frontend and it's default backend. When you swap over to another simulator that we didn't crea

[2022-03-18 15:58] Alex-259 commented on #446
Hi @co9olguy

thanks for the answer. Yes I see the point of the backpropagation vs. the parameter-shift-rule.
However, I wonder if there are additional things that speed up the calculation in `default.qubit` that are not given in `qiskit.aer`. I just used `default.qubit` with parameter shift rule for the small example and got the following.

[code]
with the outcome
[code]

[2022-03-18 19:07] co9olguy commented on #446
Hi @Alex-259,

Unfortunately, I can't speculate too much, there could be many reasons. But obviously we've put a lot of energy and focus into making sure our default simulator works smoothly and efficiently within the library (since so many people end up using that). Definitely we have not put in as much effort making sure all plugins are working just as smoothly. So it could be something at the i

[2022-03-18 22:57] sophchoe opened #449 "Continuous Variable Quantum Classifiers: MNIST"
#### General information

**Name**
Sophie Choe

**Affiliation** (optional)
Portland State University, Electrical and Computer Engineering

**Twitter** (optional)
Your Twitter username, if interested; helps us advertise your demo while linking directly back to you.

**Image** (optional)
Suggested image to use when advertising your demo on Twitter; can be provided via hyperlink or by copy/pasting di

[2022-03-21 15:56] Alex-259 commented on #446
Hey @co9olguy,

thanks for your answer. Yeah, I tested a lot to circumvent the unusual behavior between the training and validation loss/accuracy. But up to now, nothing results in the normal curves, where training is better than validation (lower loss, higher accuracy). What I have tried:

- Look if the dataset for validation is much simpler than that for training (is not the case)
- Change the s

[2022-03-21 21:31] CatalinaAlbornoz commented on #449
Thank you for submitting this Demo @sophchoe! We will be reviewing it and letting you know when it's up on the website.

[2022-03-22 21:17] angusjlowe commented on #446
Hi @Alex-259,

I just confirmed that even if you switch the training and validation datasets in this tutorial, you still get higher validation accuracy. It is possible that there is a bug in how these values are being computed, since as you mentioned this is not the expected behaviour. However, I also noticed that if you do not call `model.eval()` then this anomalous behaviour goes away -- perhaps

[2022-03-25 09:39] Alex-259 commented on #446
Hi @angusjlowe

thanks for your answer. Yes, it is a little bit weird, why this happens.
What is different when using `model.train()` and `model.eval()` are the batch normalization layers:

- `model.train()`: Batchnorm layer calculates the batchwise mean and variance of the input and uses it to normalize the inputs
- `model.eval()`: Batchnorm doesn’t calculate the mean and variance of the input, b

[2022-03-30 13:37] CatalinaAlbornoz commented on #446
It's curious that the classical version shows the same behaviour. Thanks for pointing this out @Alex-259.

[2022-04-07 00:48] CatalinaAlbornoz commented on #449
Hi @sophchoe! I'm very sorry for the delay in my response.

We have complemented the abstract information with the info that you had in the repo. This is how it's looking. Do you agree with the changes?

We built 8 MNIST dataset classifiers using 2-8 qumodes. This family of MNIST classifiers are classical-quantum hybrid circuits using Keras and PennyLane. The quantum circuit is composed of a data

[2022-04-18 21:00] josh146 opened #463 "[BUG] Rendering issues"
The following demos include incorrect ReST, that may result in rendering issues.

## Title underline too short

- `tutorial_adaptive_circuits.rst`

[code]

- `tutorial_sc_qubits.rst`

[code]

- `tutorial_tn_circuits.rst`

[code]

- `tutorial_tn_circuits.rst`

[code]

- `tutorial_vqe_spin_sectors.rst`

[code]

## Invalid meta directive

This one could be causing the classical kernels demo to have u

[2022-04-20 17:45] CatalinaAlbornoz commented on #449
Hi @sophchoe, please let us know when you have updated your demo and if you agree with the new description so that we can feature your Demo on the PennyLane website.

[2022-04-20 18:22] antalszava opened #468 "[BUG] Measurement optimization demo slight diff in # Hamiltonian terms for `v0.23.0`"
This is just a note that the measurement optimization demonstration outputs slightly more terms (`2050` -> `2110`) with PennyLane `v0.23.0` (at the time of writing `v0.23.0` has a release candidate branch).

The update to the demo required was being done in https://github.com/PennyLaneAI/qml/pull/467.

See new outputs of the demo:

*New `measurement_optimize` outputs (warning: original output over

[2022-04-20 19:54] antalszava opened #469 "[BUG] Exclude `requirements.txt` for automated `update-dev` action"
**Summary**

Exclude `requirements.txt` as a file that is updated when running the `update-dev` action.

**More details**

Any changes made to the `requirements.txt` file on `master` should be assumed to only apply to that branch. The reason is, that there is a distinct difference between the `master` and `dev` branches in the `requirements.txt` file:
* `master` should contain PennyLane and plugin

[2022-04-20 21:13] antalszava opened #470 "[FEATURE] Revisit the Quantum volume demo"
The quantum volume demonstration and its results are device-specific. It could be revisit it and see how it could be remade to make it independent of the hardware device being used.

![image](https://user-images.githubusercontent.com/24476053/164323910-365cdb27-af86-46b1-a4d7-8f969f51350c.png)

[2022-05-23 19:45] rsalvo77 opened #493 "Testing"
Testing

[2022-05-24 17:34] #493 closed

[2022-06-14 03:41] soosub opened #505 "[Mistake in demo] Figure beamsplitter photonics demo"
#### Issue description
There seems to be a mistake in the new photonics demo introduced in #484. The orientation of the beamsplitter in the figure that explains how to implement a displacement operator in the lab looks odd to me. This is because the lower right mode contains information about the input state while there is no beam path connecting them. I think the BS should be tilted 90 degrees. I

[2022-06-14 19:24] Qottmann opened #508 "Functionality for parallel `qml.expval(H)` execution needed"
In the [VQE with parallel QPUs on Rigetti Forest](https://pennylane.ai/qml/demos/vqe_parallel.html) demo, deprecated `qml.ExpvalCost` functionality is used that makes use of internally parallelizing the executions with `dask`. Currently, something similar is not available with `qml.expval(H)`, and, more importantly, not possible manually with user-facing functions and dask.

@antalszava and I conc

[2022-06-15 02:19] josh146 commented on #508
@Qottmann I imagine the closest approach would be to do something like:

[code]

Would this be sufficient in the tutorial? It avoids `ExpvalCost`, while making the Dask usage explicit.

[2022-06-15 13:40] Qottmann commented on #508
In principle this would work, but do you see a way to incorporate the measurement optimization as well? Already in this example it is executing 2 expvals whereas only 1 is necessary. In many Hamiltonians you have big commuting Pauli groups, so executing _all individual expvals in parallel_ is most likely slower (and wastes unnecessary hardware resources) than just default execution:
[code]

As far

[2022-06-15 18:55] josh146 commented on #508
Oops! Yes, perfect @Qottmann :)

[2022-06-15 19:06] Qottmann commented on #508
I created a PR for this here https://github.com/PennyLaneAI/qml/pull/510

[2022-06-15 23:16] maxwell04-wq opened #513 "[DEMO] Simulated Annealing"
#### General information

**Name**
Mahnoor Fatima.

**Twitter**
@MahnoorTheJack

**Image**
![5af21e58-196a-43cb-9075-c1fb728e91e0](https://user-images.githubusercontent.com/59219220/173956654-150b0b2d-efa8-4601-b886-45e4964bf912.jpg)

--------------------------------------------------------------------------------

#### Demo information

**Title**
Optimizing a Variational Quantum Circuit via Simul

[2022-06-17 16:17] soosub commented on #505
Closed by #516

[2022-06-17 16:17] #505 closed

[2022-06-22 14:54] KetpuntoG opened #524 "[BUG] Notebook wrongly generated in the download"
#### Issue description

On the right side of the screen when you open a demo it gives you the option to download the notebook. It has been detected that the notebook generated in several demos does not render well

#### List of demos with this problem

- Getting Started:
   - tutorial_qubit_rotation
   - tutorial_backprop
   - tutorial_adjoint_diff
   - tutorial_plugins_hybrid
   - ....
   - ....

[2022-06-24 08:12] emgilfuster opened #525 "[BUG] Inconsistent hyperlinks for the "back" button in (at least) QML demos"
#### Inconsistent hyperlinks for the "back" button in (at least) QML demos

The back button at the top left of the demo page has different hyperlinks for different demos in the qml list.
![image](https://user-images.githubusercontent.com/44003229/175492759-e0464cb6-0a12-41df-a325-cf5a03fa477d.png)

* *Expected behavior:* the back button from all qml demos is hyperlinked to [https://pennylane.ai/qm

[2022-06-24 16:19] CatalinaAlbornoz commented on #525
Thanks for opening this issue!

[2022-06-24 19:05] co9olguy commented on #524
Hi @KetpuntoG, this is a known issue with the build pipeline. Could you confirm whether or not [these notebooks](https://pytorch.org/tutorials/) look similar to what you are seeing here?

[2022-06-24 20:14] KetpuntoG commented on #524
No @co9olguy , the problem looks different. In the link you passed me it seems that it doesn't understand the cells as python but they appear. When downloading the notebooks from pennylane, the code cells disappear.

[2022-06-24 20:17] KetpuntoG commented on #524
Here is a comparison of what the web shows and what the download shows:

<img width="879" alt="Captura de pantalla 2022-06-24 a las 16 15 53" src="https://user-images.githubusercontent.com/65235481/175661146-99188f34-8521-46c5-9a89-f64f4bbbdda3.png">

After download:

<img width="894" alt="Captura de pantalla 2022-06-24 a las 16 16 07" src="https://user-images.githubusercontent.com/65235481/175661

[2022-06-25 00:40] josh146 commented on #525
Thanks @emgilfuster! This is because `tutorial_tn_circuits` is not listed in the ToC for the `demos_qml.rst` page:

https://github.com/PennyLaneAI/qml/blame/master/demos_qml.rst#L134-L153

We should probably go through and audit, and ensure that all demos are listed in the table of contents for the correct categories.

[2022-06-25 00:41] josh146 commented on #524
This is very strange 🤔 I wonder if the affected demos share anything in common that causes this (the python cells to be ignored).

[2022-07-01 00:45] CatalinaAlbornoz commented on #446
Thank you for your insight @andreamari!

[2022-09-07 13:12] CatalinaAlbornoz commented on #513
Hi @maxwell04-wq, I wanted to let you know that your demo is now on the PennyLane website! Congratulations! You can see it [here](https://pennylane.ai/qml/demos_community.html).

[2022-09-12 20:40] Mandrenkov opened #569 "[BUG] Overlapping back relation on Demos page"
#### Issue description

On the QML website, the back relation is sticky. This leads to situations where the UI looks like this:

<img width="1003" alt="Screen Shot 2022-09-12 at 4 13 59 PM" src="https://user-images.githubusercontent.com/5883774/189752173-8df7320d-f098-4871-ab6e-a21288237fe7.png">

* *Expected behavior:* The back relation does not overlap with the "Featured" carousel. This means th

[2022-09-23 12:18] Rlag1998 opened #582 "[DEMO] Generalization of Quantum Metric Learning Classifiers"
#### General information

**Name**
Jonathan Kim; Stefan Bekiranov

**Affiliation** (optional)
Research & Development Tech Innovation Hub, GlaxoSmithKline; Department of Biochemistry and Molecular Genetics, University of Virginia

--------------------------------------------------------------------------------

#### Demo information

**Title**
Generalization of Quantum Metric Learning Classifiers

[2022-09-23 15:59] CatalinaAlbornoz commented on #582
Hi @Rlag1998, this is amazing work! We will review it and get back to you. Thank you for this amazing contribution!

[2022-10-07 06:14] nsansen commented on #372
Dear,

Is it possible to update the paper Link in the DEMO : Hybrid Neural Network using Data-Reuploading technique ? (By Nikolaos Schetakis 11/04/2021)

The paper was accepted by Scientific reports and the link is here: https://link.springer.com/content/pdf/10.1038/s41598-022-14876-6.pdf

Thank you in advance!

Best regards,
Nikolaos Schetakis

LEGAL DISCLAIMER:
The contents of this email and any

[2022-10-07 14:55] ikurecic opened #590 "[BUG] Total running time of script for both SPSA demos listed as zero"
#### Issue description

Description of the issue - include code snippets and screenshots here
if relevant. You may use the following template below

* *Expected behavior:* Non-zero running time of the script.

* *Actual behavior:* ![image](https://user-images.githubusercontent.com/4939555/194582343-c9cbe697-a00d-4ff6-ba4e-5c37f62aa3bb.png)
Affected demos (identified so far): https://github.com/Pen

[2022-10-07 15:01] ikurecic opened #591 "[BUG] "View on GitHub" links broken on demo pages"
#### Issue description

* *Expected behavior:* "View on GitHub" links to source file on GitHub

* *Actual behavior:* Links don't include organization and repository (PennyLaneAI/qml). Example link: https://github.com//blob/master/demonstrations/tutorial_vqe.py on https://pennylane.ai/qml/demos/tutorial_vqe.html

[2022-10-07 15:57] josh146 commented on #590
Hey @ikurecic, this is because these demos are not executed to build the website (so the execution time is 0 or unknown).

Any demo that has a filename that does *not* start with `tutorial_` will not be executed

[2022-10-10 09:26] SimonCichy opened #593 "[DEMO] Perturbative Gadgets for Variational Quantum Algorithms"
#### General information

**Name**
Simon Cichy.

**Affiliation** (optional)
Dahlem Center for Complex Quantum Systems, Freie Universität Berlin, 14195 Berlin, Germany,
Institute for Theoretical Physics, ETH Zürich, 8093 Zürich, Switzerland.

**Twitter** (optional)
@sdcichy

**Image** (optional)
![FC_gadget-terms-tutorial](https://user-images.githubusercontent.com/70891818/194835565-c27a0e4b-f66f-4

[2022-10-11 13:35] isaacdevlugt commented on #593
Thanks @SimonCichy ! Look forward to checking this out 👀

[2022-10-11 14:44] ikurecic commented on #372
Dear @nsansen,

Of course, that's not a problem — thank you for letting us know!
You should be able to see the change soon.

All the best,
Ivana

[2022-10-12 20:01] josh146 commented on #591
Thanks to @LucasSilbernagel, this should now be fixed :)

[2022-10-12 20:01] #591 closed

[2022-10-12 21:12] KetpuntoG commented on #593
Hi @SimonCichy , great job! The demo is really well done 😄 If you like we could guide you to introduce it as a demo of the pennylane website with your name, instead of in the community demos section.  This requires a bit more work and will take a bit more time but I wanted to tell you about the option in case you find it interesting 💪 If not, we will get on with the integration in the community se

[2022-10-13 16:20] SimonCichy commented on #593
Hi @KetpuntoG, thanks a lot, it is nice to hear that 😄 And in principle, I would be happy to make it a demo of the pennylane website! If you can tell me a bit more about what it implies, what would have to be changed, etc, I could tell you if (or rather how quick) I can do it

[2022-10-13 18:38] KetpuntoG commented on #593
The steps to write a demo in PennyLane can be found in the readme of the [qml repo](https://github.com/PennyLaneAI/qml). The format of the demos are in `.py` using Sphinx. Having the notebook already made, we have a script (in the readme you will find it too) to facilitate the conversion. Then, it's just a matter of fixing small formatting details. Once you have it in demo format, we will do a mor

[2022-10-13 20:13] josh146 commented on #593
@SimonCichy something to note is that our demos are not in the form of notebooks. Instead:

- They are executable python scripts
- The text describing the code is using [restructuredText](https://bashtage.github.io/sphinx-material/basics.html), not markdown

But there are nice ways to convert a notebook to this format. For example, you can export a notebook in `rst` format (and then manually chang

[2022-10-14 10:23] emgilfuster opened #608 "[BUG] Wrong image on tutorial classical kernels"
#### Issue description

* *Expected behavior:* The first image in https://pennylane.ai/qml/demos/tutorial_classical_kernels.html should be https://github.com/PennyLaneAI/qml/blob/master/demonstrations/classical_kernels/flowchart.PNG

* *Actual behavior:* The first image in https://pennylane.ai/qml/demos/tutorial_classical_kernels.html is https://github.com/PennyLaneAI/qml/blob/master/demonstration

[2022-10-14 13:22] SimonCichy commented on #593
Thank you both! I am not in a hurry, and it does not seem to be all too much work, so I'm in. I will get working on converting the file and will let you know when it is done, or if I am having issues.

[2022-10-14 14:29] josh146 commented on #608
Hey @emgilfuster, I have a feeling this is because Sphinx -- when processing images -- is not case sensative 🤔 So the `.png` and `.PNG` is not properly differentiated.

A fix could be to give the two images different names

[2022-10-14 15:16] emgilfuster commented on #608
Thanks @josh146! I tried to fix it that way but sphinx failed to build locally. Maybe I did something wrong, I'll try again

[2022-10-14 18:31] SimonCichy commented on #593
I believe I have done the necessary changes, but I would be happy if you could confirm the next steps.
I have now the qml repo locally and have added my tutorial in .py format in demonstrations. It runs the way it is supposed to, but I didn't know where to put the other files (where I define things which I did not want to go into detail in the tutorial itself). For now, I put them in the subfolder

[2022-10-14 18:44] josh146 commented on #593
@SimonCichy awesome to hear! Definitely feel free to open a PR, that is much easier than building the website locally.

When you create a PR, we have an automatic build system that will build the website, and create a link in the PR for you to view the changes. This preview will update with every push to the PR :)

[2022-10-17 14:25] SimonCichy commented on #593
To be honest, it will be my first pull request, so could you confirm, that I am doing it right before I mess something up? (sorry)
I cloned the repository, created a branch (local for now) and did my changes there. Do I push to make it a remote branch, and then proceed to making a PR from my (new) branch to the master branch? Thanks for the help...

[2022-10-17 19:04] isaacdevlugt commented on #593
Yep! Just push your changes: `git push --set-upstream origin <branch name>`, then make a Pull Request 😄. The Pull Request will be for merging your branch with your demo into the `master` branch 🙂. See [here](https://docs.github.com/en/desktop/contributing-and-collaborating-using-github-desktop/working-with-your-remote-repository-on-github-or-github-enterprise/creating-an-issue-or-pull-request) for

[2022-10-18 07:07] SimonCichy commented on #593
Thank you a lot. Apparently, I do not have the correct access rights, so I guess I am doing something wrong. When trying to set the upstream branch on the terminal, I get an error message
[code]
When doing it with my git GUI, after a few seconds the remote branch disappears and checking the status I get
[code]
I will try to investigate what went wrong, but if it is a problem you are familiar with,

[2022-10-18 15:45] isaacdevlugt commented on #593
🤦! Sorry about that @SimonCichy, should've known you wouldn't have had permissions.

As @KetpuntoG said, if you _fork_ the repo, make your changes _there_, then make a PR from your forked version, then you're all set!

Instructions [here](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork).

[2022-10-18 17:00] SimonCichy commented on #593
Thank you a lot, again. Now there should be a pull request, but most of the checks were not successful. Does that mean something went wrong on my side?

[2022-10-18 17:02] josh146 commented on #593
@SimonCichy perfect, now we can jump into the PR and help troubleshoot :)

[2022-10-31 15:44] #513 closed

[2022-10-31 15:44] #449 closed

[2022-10-31 15:44] #432 closed

[2022-10-31 16:24] Rlag1998 opened #615 "[DEMO] Generalization of Quantum Metric Learning Classifiers"
#### General information

**Name**
Jonathan Kim; Stefan Bekiranov.

**Affiliation** (optional)
R&D Tech, GlaxoSmithKline; Department of Biochemistry and Molecular Genetics, University of Virginia.

**Image** (optional)
https://github.com/Rlag1998/QML_Generalization/blob/main/embedding_metric_learning/figures/All_Figures/3.4.2.png?raw=true

----------------------------------------------------------

[2022-10-31 22:12] CatalinaAlbornoz commented on #615
Hi @Rlag1998, thank you for working on this this demo! It looks like amazing work. We will be reviewing it and letting you know of any next steps soon.

[2022-11-07 14:26] KetpuntoG commented on #615
Hey @Rlag1998 ! Everything is ready and this Thursday we will publish the demo 😄
If you have a twitter account we could mention you on the tweet

[2022-11-09 15:37] Rlag1998 commented on #615
Hi @KetpuntoG, thank you again for getting it all ready!

Maybe this Twitter account could be mentioned: [@Jonathan_Kim_98](https://twitter.com/Jonathan_Kim_98)

Thanks! 😄

[2022-11-09 23:53] CatalinaAlbornoz commented on #615
Awesome @Rlag1998!

[2022-11-10 21:07] CatalinaAlbornoz commented on #608
Thanks for taking care of this @emgilfuster!

[2022-11-14 21:05] emirhanai opened #636 "[DEMO]"
#### General information

**Name**
Emirhan BULUT

**Affiliation** (optional)
Individual

**Twitter** (optional)
LinkedIn: https://www.linkedin.com/in/artificialintelligencebulut/

**Image** (optional)
https://camo.githubusercontent.com/b317dbd696c79f7949e50eb52741fc51c9ee168555bdd77cf6432906f5903454/68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f656d697268616e61692f534f322d456

[2022-11-14 21:27] KetpuntoG commented on #636
Thanks for open the issue! It looks like a very interesting project. It would be great if you could add some text explaining the thread of what you are doing 😄 The model looks interesting and it would be great to visualize it! Even if it is a hand drawn drawing

[2022-11-14 21:56] emirhanai commented on #636
Hey KetpuntoG!
I added it to readme.MD at the now.

### Aim

The aim of the project is to design a Quantum Artificial Intelligence brain that learns the emission values ​​of SO2 gases released from diesel engines in the world with the 8-layer Quantum Algorithm, and then to compare the performance of the created Quantum Artificial Intelligence brain with Machine Learning, Deep Learning (Classical N

[2022-11-14 22:32] emirhanai commented on #636
And I create and Added Model Chart (I added it to  Readme.MD):

https://raw.githubusercontent.com/emirhanai/SO2-Emission-Prediction-from-Diesel-Engines-with-Quantum-Technology-5G/main/keras_my_model_chart.png

[2022-11-15 18:57] KetpuntoG commented on #636
We usually put the twitter user only but I'll talk to marketing to see what can be done.
 I'll take care of introducing it on the web. Thanks for the work done @emirhanai !

[2022-11-15 19:01] emirhanai commented on #636
Thank you. I eagerly await its release.

[2022-11-16 20:27] KetpuntoG commented on #636
At the end we will put the twitter username but you can always comment putting the link to the linkdn if you want :) Tomorrow we will make the publication. Thanks again!

[2022-11-16 20:41] emirhanai commented on #636
Thank you 🙏🏻

[2022-11-17 18:49] emirhanai commented on #636
Hello, will it be prepared to be published on your website as a page? Thank you

[2022-11-18 15:02] KetpuntoG commented on #636
Hello @emirhanai , you can see it here:
https://pennylane.ai/qml/demos_community.html

[2022-11-18 15:05] emirhanai commented on #636
Yes i know but we can share like tutorial. What about?

[2022-11-18 15:34] KetpuntoG commented on #636
The work done is more suitable for community demos. In this case we will not perform a demo.
The community demos section is a place of interest to share your projects in pennylane, I am sure it will reach many people 🙂

[2022-11-23 17:12] #636 closed

[2022-11-23 17:13] #615 closed

[2022-11-23 17:16] KetpuntoG commented on #593
I close this issue, we are already working with the proper demo

[2022-11-23 17:16] #593 closed

[2022-11-23 17:16] #582 closed

[2022-11-24 20:28] KetpuntoG commented on #257
It seems that this problem has been solved.
I have run the notebook in Google Colab and this is my output
<img width="514" alt="Captura de Pantalla 2022-11-24 a las 15 28 06" src="https://user-images.githubusercontent.com/65235481/203859429-837f8b63-37a4-4a36-83ba-c7d266a7f565.png">

In the demo seems the same:

<img width="542" alt="Captura de Pantalla 2022-11-24 a las 15 28 26" src="https://user

[2022-11-24 21:17] KetpuntoG commented on #344
Hey @Jaybsoni , it has been already solve right? (new link to the `[demo](https://pennylane.ai/qml/demos/vqe_parallel.html)`)

[2022-11-24 21:29] KetpuntoG commented on #394
Can we consider the issue as resolved? @antalszava

[2022-11-24 21:54] KetpuntoG commented on #468
I see this is resolved, thank you @antalszava ! 😄

[2022-11-24 21:54] #468 closed

[2022-11-24 22:08] KetpuntoG commented on #403
The demo seems to be working correctly now.  I will wait a while before closing the issue just in case.

[2022-11-24 22:11] KetpuntoG commented on #446
Since the classical implementation fails in the same situation, it has been considered not to modify the demo.
If necessary, we will reopen the issue again 🙂

[2022-11-24 22:11] #446 closed

[2022-11-24 22:12] josh146 commented on #257
@KetpuntoG nice! Although I suppose the mystery is not solved, as your results show classical training beating the quantum training, which isn't what the demo originally showed

[2022-11-24 22:27] KetpuntoG commented on #257
seems very dependent on the seed. If we want something that quantum "wins", we can put seed 42 although I'm not a big fan of these things

<img width="448" alt="Captura de Pantalla 2022-11-24 a las 17 20 06" src="https://user-images.githubusercontent.com/65235481/203869815-c9dd0ecd-41e3-49a8-9445-3f0d3b195020.png">

[2022-11-24 22:41] josh146 commented on #257
Yeah, I would say this is maybe more an issue with the conclusion of the demo, rather than a seed issue

[2022-11-29 17:22] KetpuntoG commented on #525
problem solved, demos are now up to date :)

[2022-11-29 17:27] KetpuntoG commented on #608
Hey @emgilfuster 👋 once you have done the PR, this rocket will appear below, just click on "view deployment".
Let us know if you have any problems :)

![Captura de Pantalla 2022-11-29 a las 12 24 46](https://user-images.githubusercontent.com/65235481/204599280-7ee5b222-1d1f-4300-91fb-2c92c4d23ade.png)

[2022-11-29 17:33] emgilfuster commented on #608
Hi! Thanks, I'm sorry, I'm struggling to find a moment of peace for this.
I'll let you guys know, hopefully soon!